.row
  .span9.offset5
    = link_to team_path(@team), :style => "color: #6655ee; font-size: 20px;" do
      %i.fa.fa-chevron-left
      = I18n.t("common_terms.back")

    %hr{:style => "border-bottom: 1px solid #ccc;"}

    - if @current_user
      .row{:style => "margin-top:60px;"}
        = render :partial => 'posts/new'

    .row
      = render :partial => "shared/news_feed"
