= render :partial => "shared/flashes"

#content{style: "min-height:700px;"}

  - if @team.blocked
    .row
      .span16{:style => "width: 1140px;"}
        .alert.alert-danger.alert-dismissable{:style => "margin-left: 30px;"}
          = I18n.t("views.teams.show.blocked")


  .row
    .span5{:style => "border-right: 1px solid #ccc;"}
      = render :partial => "teams/sidebar"

    .span11.offset1
      = render :partial => "teams/main"
