.feed-item-profile-photo
  = link_to image_tag(notice.picture), notice_path(notice)

.feed-item-bar
  .username
    = link_to notice.display_name, notice_path(notice)
  .feed-item-timestamp
    = timestamp_in_metadata(notice.created_at)
