<%= render :partial => "shared/flashes" %>
<%= render :partial => "shared/form_errors", :locals => {:item => @notice} %>


<div class="offset1">
	<h1>Nova notícia</h1>
	<br>
	<%= render 'notices/form' %>
</div>
