.feed-item-comment
  .row
    .col-md-12
      %form.feed-item-comment-form.ng-pristine.ng-valid{"accept-charset" => "UTF-8", "ng-submit" => "createComment(post, comment)", :method => "post"}
        %div{:style => "margin:0;padding:0;display:inline"}
          %input{:name => "utf8", :type => "hidden", :value => "✓"}/
          %input{:name => "authenticity_token", :type => "hidden", :value => "1vnH4l6Pdoo2Pyph7qRD0rU5T2obW8S0WQ4koO+Jg5w="}/
        %textarea#comment_content.form-control{:name => "comment[content]", "ng-model" => "comment.content"}
        %button.btn.btn-success.btn-right.submit-button{:type => "submit", "ng-class" => "{disabled: submitButtonCommentDisabled}"}
          %i.fa.fa-refresh.fa-spin
          Chat
