.feed-item-complete{"ng-repeat" => "post in posts"}
  .feed-item
    .feed-item-profile-photo
      %a{"ng-href" => "{{post.user.user_path}}"}
        %img{"ng-src" => "{{post.user.image_path}}"}

    .feed-item-bar
      .username
        %a{"ng-href" => "{{post.user.user_path}}"}
          {{post.user.display_name}}
      .location
        %a{"ng-href" => "{{post.user.neighborhood_path}}"}
          %span.muted
            de
          {{post.user.neighborhood.geographical_display_name}}
      .feed-item-timestamp
        -# = timestamp_in_metadata(item.created_at)
        -# - if @current_user && @current_user == user && item.class == Post
        -#   = link_to path, :class => "delete-resource-button", "data-confirm" => I18n.t("views.alerts.confirm"), "data-path" => path do
        -#     %i.fa.fa-trash-o

    .feed-item-content
      {{post.content}}

      .post-photo{"ng-hide" => "{{post.image_path == null}}"}
        %img.img-rounded{"ng-src" => "{{post.image_path}}"}


    -# - if @current_user
    -#   .feed-item-interaction-menu
    -#     = render :partial => "shared/feed_item_interaction_menu", :locals => {:likeable => post, :path => like_api_v0_post_path(post)}


  // Render comments here
