.feed-item
  .feed-item-profile-photo
    %a{"ng-href" => "{{post.user.url}}"}
      %img{"ng-src" => "{{post.user.photo}}"}

  .feed-item-bar
    {{greeting}}
    .username
      %a{"ng-href" => "{{post.user.url}}"}
        {{post.user.display_name}}
    .location
      %a{"ng-href" => "{{post.user.neighborhood.url}}"}
        %span.muted
          de
        {{post.user.neighborhood.geographical_display_name}}
    .feed-item-timestamp
      {{post.timestamp}}
      -# - if @current_user && @current_user == user && item.class == Post
      // TODO: This needs to be shown/hidden based on current user.
      // TODO: The jQuery doesn't bind to .delete-resource-button!
      -# %a.delete-resource-button{"ng-href" => "{{post.actions.delete}}", "data-confirm" => I18n.t("views.alerts.confirm"), "data-path" => "{{post.actions.delete}}"}
      -#   %i.fa.fa-trash-o

  .feed-item-content
    {{post.content}}

    .post-photo{"ng-hide" => "{{post.photo == null}}"}
      %img.img-rounded{"ng-src" => "{{post.photo}}"}


  .feed-item-interaction-menu
    %a.likes_button{"ng-click" => "updateLikesCounter(post)", "ng-style" => "{color: post.likeColor}"}
      %i.fa.fa-thumbs-up.like-icon
      %span
        {{post.likes_count}}

    &#183;
    %a.comment-button{"ng-click" => "showNewComment = !showNewComment"}
      Comentar

// Enumerate all comments.
%post-comment{"comment" => "comment", "ng-repeat" => "comment in post.comments"}

.feed-item-comment{"ng-show" => "showNewComment"}
  .row
    .col-md-12
      %form.feed-item-comment-form{"accept-charset" => "UTF-8", :action => "{{post.actions.create_comment}}", :method => "post"}
        %div{:style => "margin:0;padding:0;display:inline"}
          %input{:name => "utf8", :type => "hidden", :value => "✓"}/
          %input{:name => "authenticity_token", :type => "hidden", :value => "1vnH4l6Pdoo2Pyph7qRD0rU5T2obW8S0WQ4koO+Jg5w="}/
        %textarea#comment_content.form-control{:name => "comment[content]"}
        %button.btn.btn-success.btn-right.submit-button{:type => "submit"}
          %i.fa.fa-refresh.fa-spin
          Chat
