
- commentable.comments.order("created_at ASC").each do |comment|
  .feed-item-comment
    = render :partial => "users/feed_item_comment", :locals => {:comment => comment, :user => comment.user}

- if @current_user
  .feed-item-comment.feed-item-new-comment
    = render :partial => "users/feed_item_new_comment", :locals => {:path => path}
