.feed-item-comments{:style => "#{commentable.comments.any? ? '' : 'display: none;' }"}
  - commentable.comments.order("created_at ASC").each do |comment|
    .feed-item-comment
      = render :partial => "users/feed_item_comment", :locals => {:comment => comment, :user => comment.user}


  .feed-item-comment
    = render :partial => "users/feed_item_new_comment", :locals => {:path => path}
