.row.feed-item-bar
  .col-md-12.username
    = link_to user.display_name, user_path(user)
    .feed-item-timestamp
      %i.fa.fa-clock-o
      = timestamp_in_metadata(item.created_at)

    - if @current_user && @current_user == user && item.class == Post
      = link_to api_v0_post_path(item), :class => "delete-post-button", "data-confirm" => I18n.t("views.alerts.confirm"), "data-path" => api_v0_post_path(item) do
        %i.fa.fa-trash-o
