= render :partial => "shared/flashes"

%div{style: "min-height:700px;"}
  .row
    .col-md-3.col-md-offset-1{:style => "border-right: 1px solid #ccc;"}
      = render :partial => "users/sidebar"

    .col-md-7.col-md-offset-1
      = render :partial => "users/main"
    -#
    -# .col-md-2{:style => "text-align: center; margin-left: -40px;"}
    -#   - if @user.neighborhood.name  == Neighborhood::Names::MARE
    -#     = link_to I18n.t("common_terms.free_sms"), free_sms_path, :class => "btn btn-success btn-large", :style => "margin-top: 60px;"
