= render :partial => "shared/flashes"

#content{style: "min-height:700px;"}
  .row
    .span4{:style => "border-right: 1px solid #ccc;"}
      = render :partial => "users/sidebar"

    .span11.offset2
      = render :partial => "users/main"
