= render :partial => "shared/flashes"

#content{style: "min-height:700px;"}
  .row
    .span5{:style => "border-right: 1px solid #ccc;"}
      = render :partial => "users/sidebar"

    .span11.offset1
      = render :partial => "users/main"
