= render :partial => "shared/flashes"

%div{style: "min-height:700px;"}
  .row
    .span5{:style => "border-right: 1px solid #ccc;"}
      = render :partial => "users/sidebar"

    .span9.offset1
      = render :partial => "users/main"

    .span3{:style => "text-align: center;"}
      - if @user.neighborhood.name  == Neighborhood::Names::MARE
        = link_to I18n.t("common_terms.free_sms"), free_sms_path, :class => "btn btn-success btn-large", :style => "margin-top: 60px;"
