= render :partial => "shared/flashes"

%div{style: "min-height:700px;"}
  .row
    .col-md-3.col-md-offset-1{:style => "border-right: 1px solid #ccc;"}
      = render :partial => "users/sidebar"

    .col-md-7.col-md-offset-1
      = render :partial => "users/main"
