= render :partial => "shared/flashes"

%div{style: "min-height:700px;"}
  .row
    .col-md-3.col-md-offset-1{:style => "border-right: 1px solid #ccc;"}
      = render :partial => "users/sidebar"

    .col-md-7.col-md-offset-1
      = render :partial => "users/main"

- content_for :scripts do
  = javascript_include_tag "feed-interactions"

  :javascript
    $(document).ready(function()
    {
      $(".leave-team-button").click(function(event){
        event.preventDefault();

        var choice = confirm($(this).data("confirm"));
        if (choice == false)
          return

        // Trim the count of the text
        $.ajax({
          url: $(this).data("path"),
          type: "POST",
          success : function(data){
            $(event.currentTarget).parents('.sidebar-list-item').remove()
          }
        })
      });
    })
