#newsfeed
  %h1.hidden.text-center{"ng-show" => "errorMessage"}
    Algo salió mal. Por favor, intente nuevamente.
  %h1.text-center{"ng-show" => "dataLoading"}
    %i.fa.fa-refresh.fa-spin

  .feed-item-complete
    %div{"post" => "post", "ng-repeat" => "post in posts"}
      = render :partial => "posts/post"

    .load-more{"ng-hide" => "noMoreData", :style => "margin-top: 20px;"}
      .btn.btn-info.btn-lg{"ng-click" => "loadPosts()"}
        %i.fa.fa-refresh{"ng-class" => "{'fa-spin': dataLoading}"}
        Cargar más
