.flashes
  - if flash[:notice]
    .alert.alert-success.alert-dismissable
      %button{:type => "button", :class => "close", :data => {:dismiss => "alert"}}
        &times;
      %span{:style => "font-size: 20px; float: right;"}
        - if flash[:should_render_social_media_buttons]
          = render :partial => "shared/social_media_buttons", :locals => {:twitter_content => I18n.t("twitter.created_new_report")}
      = flash[:notice]

  - if flash[:alert]
    .alert.alert-danger.alert-dismissable
      %button{:type => "button", :class => "close", :data => {:dismiss => "alert"}}
        &times;
      = flash[:alert].html_safe
