- if flash[:notice]
  .row#flash_dat_notice
    #flashNotice
      %p
        = flash[:notice].html_safe

- if flash[:alert]
  .row#flash_dat_alert
    #flashAlert
      %p
        = flash[:alert].html_safe
