- if item && item.errors.any?
  #errorExplanation.errorExplanation
    %h2= "#{item.errors.full_messages.uniq.count} erros impediram que o usuário fosse salvo."
    %ul
      - item.errors.full_messages.each do |msg|
        %li=msg
