- if @activity_feed.present?
  .row
    .span9{:style => "text-align: center;"}
      = link_to url_for(:only_path => true, :feed => 1), :style => "color: #6655ee; font-size: 32px;" do
        %i.fa.fa-chevron-down
        = I18n.t("common_terms.more")
