/ SEO-related optimizations
%meta{ :charset => "utf-8" }
%meta{ "http-equiv" => "Content-Type",    :content => "text/html" }
%meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge" }
%meta{ :name => "description", :content => I18n.t("views.application.head.description") }

= stylesheet_link_tag "application"

/ Fonts
%link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}
%link{:href => "https://fonts.googleapis.com/css?family=Lato:300,400", :rel => "stylesheet", :type => "text/css"}


// Include external JavaScript *after* external CSS to parallelize download.
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js", :type => "text/javascript"}

/ Custom head definitions
= yield :head if content_for(:head)

/ OpenGraph metadata
%meta{:property => "og:image",       :content => "https://s3.amazonaws.com/dengue-torpedo/misc/fb.png"}
%meta{:property => "og:site_name",   :content => "DengueChat"}
%meta{:property => "og:title",      :content => "Ciudadanos en el combate contra el Dengue, Zika y la Chikungunya"}
%meta{:property => "og:url",         :content => "https://www.denguechat.com#{request.path}"}
%meta{:property => "og:app_id",      :content => "<%= Rails.env.production? ? '1423593507909037' : '130567007017171' %>"}
= csrf_meta_tags
