%h3{:style => "font-size: 24px; margin-top: 40px; text-align: center;"}
  = I18n.t('views.statistics.table.title')


#piechart{:style => "width: 100%; height: 250px; margin: auto;"}

:javascript
  google.load('visualization', '1', {packages: ['corechart']});
  google.setOnLoadCallback(drawPieChart);

  function drawPieChart() {
    var statistics = #{@last_statistics.to_json};
    statistics.unshift([
      "#{I18n.t('views.statistics.chart.time')}",
      "#{I18n.t('views.statistics.chart.sites')}"
    ]);

    var data = google.visualization.arrayToDataTable(statistics);

    var options = {
      sliceVisibilityThreshold:0,
      width: $("#piechart").width(),
      chartArea: {
        top: 50,
        height: "90%"
      },

      backgroundColor: '#eff0f3',
      colors: ["#e74c3c", "#f1c40f", "#95a5a6"],
      legend: {
        alignment: "start",
        textStyle: {
          fontSize: "12"
        }
      }
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));
    chart.draw(data, options);
  };
