#chart{:style => "width: 100%; height: 500px; margin-bottom: 20px;"}


%script{:src => "https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}", :type => "text/javascript"}


:javascript
  google.load('visualization', '1', {packages: ['corechart']});
  google.setOnLoadCallback(drawChart);
  var statistics = #{@statistics.to_json};

  function drawChart() {
    // data.addColumn('number', 'X');
    // data.addColumn('number', 'Dogs');
    statistics.unshift(["Time", "Percent of positive and potential sites", "Percent of negative sites"])

    // data.addRows(statistics);
    var data = new google.visualization.arrayToDataTable(statistics);

    var formatter = new google.visualization.NumberFormat({suffix: "%", fractionDigits: 0});
    formatter.format(data, 1);

    var options = {
      width: $("#chart").width(),
      chartArea: {
        left: 100,
        top: 50,
        width: "90%",
        height:"75%"
      },
      hAxis: {
        title: 'Time',
        titleTextStyle: {
          italic: false
        },
        showTextEvery: parseInt(data.getNumberOfRows() / 4)
      },
      curveType: "function",
      vAxis: {
        title: 'Percent of positive and potential sites',
        viewWindow: {
          max: 101,
          min: 0
        },
        format: "#\'%\'",
        titleTextStyle: {
          italic: false
        }
      },
      backgroundColor: '#eff0f3',
      colors: ["#e74c3c", "#2ecc71"],
      legend: {position: "bottom"},
    };

    var chart = new google.visualization.LineChart(document.getElementById("chart"));
    chart.draw(data, options);
  }
