- [["CSV", {:controller => "dashboard/csv_reports", :action => "index"}, "fa-file-o"], ["Locations", {:controller => "dashboard/locations", :action => "index"}, "fa-map-marker"], ["Graphs", {:controller => "dashboard/graphs", :action => "index"}, "fa-bar-chart"]].each do |md_navigation|
  .master-view-cell{:class => (md_navigation[1][:controller] == params[:controller] ? "active" : "")}
    = link_to md_navigation[1] do
      .row
        .col-md-2.text-center
          %i.fa{:class => md_navigation[2]}
        .col-md-9
          = md_navigation[0]
