.row
  .col-md-8.col-md-offset-2
    .page-navigation
      %h1.pull-left
        = link_to parent_navigation_path do
          %i.fa.fa-chevron-left
          = parent_navigation_title
      %h1.pull-right
        = link_to child_navigation_path do
          = child_navigation_title
          %i.fa.fa-chevron-right
