.notifications
  %ul.lato-font.light-font
    - @notifications.each do |n|
      %li
        - if n.notification_type == "Post" && post = n.post
          = link_to post_path(post) do
            Alguien te mencionado en un chat!
        - elsif n.notification_type == "Comment" && comment = n.comment
          - if comment.commentable_type == "Post"
            = link_to post_path( Post.find(comment.commentable_id) ) do
              Alguien te mencionado en un comentario!
