%ul.dropdown-menu
  - @notifications.each do |n|
    %li
      - if n.notification_type == "Message"
        = link_to user_conversations_path(n.user) do
          Usted tiene un nuevo mensaje!
      - elsif n.notification_type == "Post"
        = link_to post_path(Post.find(n.notification_id)) do
          Alguien te mencionado en un chat!
      - elsif n.notification_type == "Comment"
        - comment = Comment.find(n.notification_id)
        - if comment.commentable_type == "Post"
          = link_to post_path( Post.find(comment.commentable_id) ) do
            Alguien te mencionado en un comentario!
