- items.each do |item|
  -# Extract class-specific routes.
  - if item.is_a?(Team)
    - item_path = team_path(item)
    - link_name = item.name
  - elsif item.is_a?(User)
    - item_path = user_path(item)
    - link_name = item.display_name

  .row.sidebar-list-item
    .col-md-2
      = link_to image_tag(item.picture, :style => "width: 50px; height: 50px;", :class => "img-rounded"), item_path
    .col-md-8{:style => "overflow: hidden; white-space: nowrap;"}
      = link_to link_name, item_path, :style => "line-height: 50px;"

    .col-md-1
      - if @current_user && @current_user == @user && item.is_a?(Team)
        = form_tag leave_team_path(item), :method => "post", :style => "display: inline;", "data-confirm" => I18n.t("views.alerts.confirm_leave_team"), "data-path" => leave_team_path(item), :class => "leave-team-button" do
          = button_tag(:type => "submit", :style => "background-color: inherit !important; float: right; padding: 0px;") do
            %i.fa.fa-times{:style => "color: #d9534f; line-height: 50px;"}
