.col-md-2{:style => "width:100px;"}
  .fb-share-button{:data => {:href => "https://www.denguechat.org#{request.path}", :type => "button"} }
.col-md-2
  = link_to "", "https://twitter.com/share", :class => "twitter-share-button", :data => {:related => "denguetorpedo", :lang => "#{I18n.locale}", :count => "none", :url => "https://www.denguechat.org#{request.path}", :text => twitter_content}
