= button_tag :type => "submit", :class => "btn btn-success btn-large submit-button", :style => "width: 210px;" do
  %i.fa.fa-refresh.fa-spin{:style => "display:none;"}
  = I18n.t("views.buttons.submit")
