%div{:style => "display: block; margin-top: 5px; text-align: center; margin-right: 10px;"}
  = link_to "?locale=pt" do
    = image_tag "br.png", :style => "width: 30px;"
%div{:style => "display: block; text-align: center; margin-right: 10px;"}
  = link_to "?locale=es" do
    = image_tag "mx.png", :style => "width: 30px;"
