%ul#house_list{:style => "margin-top: 30px; margin-left: 0px;"}
  - @houses.shuffle.each do |house|
    %li
      #house_photo_thumb
        - if house.profile_photo_file_name.nil?
          = link_to image_tag("default_images/house_default_image.png"), neighborhood_house_path(house.neighborhood, house)
        - else
          = link_to image_tag(house.profile_photo.url(:medium)), neighborhood_house_path(house.neighborhood, house)
      = link_to house.name, neighborhood_house_path(house.neighborhood, house)
  -# %li
  -#   #house_photo_thumb
  -#     = link_to neighborhood_path(@selected_neighborhood) do
  -#       %div{:style => "height: 130px; width: 130px; border: 1px solid #fff;"}
  -#         %p{:style => "font-size: 50px; line-height: 125px;"}
  -#           +
  -#   = link_to I18n.t("common_terms.more"), neighborhood_path(@selected_neighborhood)
