
%h1{:style => "font-size: 36px; text-align: center; margin-bottom: 20px;"}
  Manual de Conducta

%p
  Buscar, encontrar, y eliminar criaderos de mosquitos de dengue es la principal actividad de DengueChat. Pero atención, no siempre es una tarea fácil.

%br

%p
  Algunos criaderos de mosquitos (focos poteciales de dengue) no están en lugares fáciles, como terrenos baldios etc. o en lugares a los que no podemos entrar, como la casa de un vecino. Para ayudar en esos casos, DengueChat tiene procedimientos con el objetivo de evitar problemas inecesarios.

%br

%h2
  Local con un criaderos potenciales o criaderos en la casa de otra persona

%p
  Si usted nota que algún vecino o comercio tiene un foco de dengue, hable con el dueño de la casa o establecimiento e invítelo a participar en el juego de DengueChat. Si acepta podrá eliminar focos y también ganar puntos. Dentro de DengueChat esa acción se llama reclutamiento. Al reclutar ustéd gana puntos y colabora a atraer personas a unirse a la lucha contra el dengue.

%br

%p
  Otra solución es invitar a su vecino a participar de las actividades sobre dengue ofrecidas para la comunidad, sensibilizarlo sobre el dengue, y motivarlo a que elimine criaderos en su residencia. También es posible entregar materiales educativos sobre cómo eliminar criaderos de mosquitos y focos de dengue.  Consulte la página “Mi comunidad” en el sitio de DengueChat.

%br

%p
  Si ninguna de esas estrategias funciona, usted debe comunicar a un miembro de los Servicios de Salud de su área para que tome las medidas adecuadas y confirme, inclusive, la existencia de un foco de infección.

%br

%p
  %b
    ATENCIÓN:
  Es importante evitar cualquier conflicto con sus vecinos, evitando acusarlos de tener focos de dengue en su casa.

%br

%h2
  En áreas grandes

%p
  Si usted encuentra un área con muchos crieaderos, tal como un camino con puntos de acumulación de agua, o basura acumulada, o terrenos baldíos grandes, usted puede organizar jornadas de limpieza contra el dengue. Hable con sus vecinos y otros participantes de DengueChat para planear esa acción. Usted también puede solicitar auxilio de verificadores o coordinadores comunitarios de DengueChat para esa tarea.  Use el blog de DengueChat para proponer y organizar una acción colectiva.

%br

%h2
  Focos de difícil acesso

%p
  Si un foco que usted encontró está en un lugar de difícil acceso, como el techo de su residencia, usted puede solicitar ayuda a otro usuario de DengueChat o a personal de los Servicios de Salud de su zona.

%br

%p
  Puntos por eliminación serán otorgados a la persona que eliminó el criadero. Sin embargo, usted recibirá puntos por identificar el criadero.

%br

%h2
  Casos de fraude o mal uso

%p
  Los focos marcados o eliminados en DengueChat son constantemente verificados por personal de DengueChat y también por verificadores, que son agentes comunitarios de salud o en algunos casos, personal de vigilancia en salud.

%br

%p
  Si usted percibe que algún participante de DengueChat está haciendo trampa en el juego, fingiendo identificar focos de infección, o creando focos para después eliminarlos,

%br

%p
  Se você perceber que algum participante do DengueChat está fraudando o jogo, fingindo identificar focos ou ainda criando focos para eliminá-los, no se quede callado. Usted debe hablar con los coordinadores de DengueChat a travéz de la página de contacto. Su denuncia es anónima.

%br

%p
  En caso de ser confirmado el mal uso, el usuario responsable será suspendido de DengueChat por un tiempo. En caso de reincidencia, el usuario será suspendido de DengueChat permanentemente. Toda la información referente a tales casos será confidencial.
