#neighborhood_list.col-md-12
  -# #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
  -#   %ol.carousel-indicators
  -#     %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
  -#     %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
  -#     %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
  -#   .carousel-inner{:role => "listbox"}
  -#     .item.next.left
  -#       %img{:alt => "First slide [900x500]", "data-holder-rendered" => "true", "data-src" => "holder.js/900x500/auto/#777:#555/text:First slide", :src => "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDkwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzc3NyIvPjxnPjx0ZXh0IHg9IjMxNy43MzQzNzUiIHk9IjI1MCIgc3R5bGU9ImZpbGw6IzU1NTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZTo0MnB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPkZpcnN0IHNsaWRlPC90ZXh0PjwvZz48L3N2Zz4="}/
  -#     .item
  -#       %img{:alt => "Second slide [900x500]", "data-holder-rendered" => "true", "data-src" => "holder.js/900x500/auto/#666:#444/text:Second slide", :src => "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDkwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzY2NiIvPjxnPjx0ZXh0IHg9IjI3Ny4yODEyNSIgeT0iMjUwIiBzdHlsZT0iZmlsbDojNDQ0O2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjQycHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+U2Vjb25kIHNsaWRlPC90ZXh0PjwvZz48L3N2Zz4="}/
  -#     .item.active.left
  -#       %img{:alt => "Third slide [900x500]", "data-holder-rendered" => "true", "data-src" => "holder.js/900x500/auto/#555:#333/text:Third slide", :src => "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDkwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzU1NSIvPjxnPjx0ZXh0IHg9IjMwOC40MjE4NzUiIHk9IjI1MCIgc3R5bGU9ImZpbGw6IzMzMztmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZTo0MnB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPlRoaXJkIHNsaWRlPC90ZXh0PjwvZz48L3N2Zz4="}/
  -#   %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
  -#     %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
  -#     %span.sr-only Previous
  -#   %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
  -#     %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
  -#     %span.sr-only Next


  #carousel-example-captions.carousel.slide{"data-ride" => "carousel"}
    .carousel-inner.col-md-offset-1.col-md-10{:role => "listbox"}
      - @cities.each_slice(3).with_index do |cities, index|
        .item{:class => (index == 0 ? "active" : "")}
          - cities.each_with_index do |city, city_index|
            .col-md-3{:style => "margin-right: 60px; text-align: center;"}
              %div{:style => "margin-bottom: 10px; font-weight: normal;"}
                = link_to city.geographical_name, city_path(city)

              = link_to image_tag(city.photo, :style => "width: 325px; height: 325px;", :class => "img-rounded"), city_path(city)

            // Add the invitation city if this is the last index and city_index
            - if (index == @cities.each_slice(3).count - 1) && city_index == cities.count - 1
              .col-md-5
                %div{:style => "margin-bottom: 10px; font-weight: normal;"}
                  = link_to I18n.t("landing_page.community.future_community"), neighborhood_invitation_path
                = link_to image_tag("neighborhood_default.png", :style => "width: 325px; height: 325px;"), neighborhood_invitation_path, :class => 'neighborhood_selection_photo'


      %a.left.dt-carousel-control{"data-slide" => "prev", :href => "#carousel-example-captions", :role => "button"}
        %i.fa.fa-chevron-left
      %a.right.dt-carousel-control{"data-slide" => "next", :href => "#carousel-example-captions", :role => "button"}
        %i.fa.fa-chevron-right

:javascript
  $("#carousel-example-captions").carousel({
    interval: false
  })
