#orange_slider
  .row
    .span5.offset1
      %h1{:style => "color: #333; font-style: italic; font-size: 40px; position: absolute; top: 150px; left: 50px; width: 800px; line-height: 40px;"}
        = I18n.t("views.home.header")

    .span5.offset12
      #register_pane
        %br
        %br
        = render "home/register_form"
