
.row
  .col-md-6.col-md-offset-5
    %h1{:style => "color: white; margin-top: 30px; font-size: 42px; margin-bottom: 20px; text-align: center;"}
      = I18n.t("views.home.header")


.row
  .col-md-6.col-md-offset-5{:style => "text-align: center; margin-bottom: 20px; margin-top: 200px;"}
    = link_to "http://www.youtube.com/embed/o6IY0NjdmZc", class: "fancybox-media fancybox.iframe", :id => 'play_button' do
      %i.fa.fa-play-circle{:style => "font-size: 24px; color: white;"}

    %h2{:style => "color: white; font-size: 16px; display: inline-block;"}
      = I18n.t("views.home.video_description_html", :link_url => @introductory_video_on_dengue).html_safe



:javascript
  $(document).ready(function()
  {
    $(".fancybox-media").fancybox({
      maxWidth  : 800,
      maxHeight : 600,
      fitToView : false,
      width   : '70%',
      height    : '70%',
      autoSize  : false,
      closeClick  : false,
      openEffect  : 'none',
      closeEffect : 'none'
    });
  })
