
.row
  .col-md-12
    %h1
      = I18n.t("views.home.header")


.row
  .col-md-12.text-center
    = link_to @introductory_video_on_dengue, :class => "btn btn-default btn-lg fancybox-media fancybox.iframe" do
      %i.fa.fa-play-circle
      = I18n.t("views.home.video_description")
