
.row
  .col-md-12
    %h1
      = I18n.t("views.home.header")


.row
  .col-md-12.play-video-link
    = link_to @introductory_video_on_dengue, :id => "play_button", :class => "fancybox-media fancybox.iframe" do
      %i.fa.fa-play-circle{:style => "font-size: 24px; color: white;"}
      = I18n.t("views.home.video_description")
