%ul#house_list{:style => "margin-top: 30px; margin-left: 0px;"}
  - @teams.shuffle.each do |team|
    %li
      #house_photo_thumb
        - if team.profile_photo_file_name.nil?
          = link_to image_tag("default_images/house_default_image.png"), team_path(team)
        - else
          = link_to image_tag(team.profile_photo.url(:medium)), team_path(team)
      = link_to team.name, team_path(team)
