
.container
  .row
    .col-md-10.col-md-offset-1{:style => "margin-bottom: 40px;"}
      %iframe{:src => "https://docs.google.com/document/d/1wgT-dUezZr8w_EONUby0paCs0NAg8dqoQnRPd0poimc/pub?embedded=true", :style => "width: 100%; height: 100%;"}


    -# .col-md-12
    -#   .panel.panel-default
    -#     .panel-heading
    -#       %h3.panel-title
    -#         = I18n.t("views.education.summary")
    -#     .panel-body
    -#
    -#       - if I18n.locale == :es
    -#         = render :partial => "home/education_content_es"
    -#       - else
    -#         = render :partial => "home/education_content_pt"
