.row.col-md-14.col-md-offset-1

  %h1
    = I18n.t("views.free_sms.header")
  %br

  %p
    = I18n.t("views.free_sms.description")
  %br

  %h1
    = I18n.t("views.free_sms.offer_from_sponsor.header")
  %br
  %p
    A cada foco completo enviado por SMS você ganha um DT Torpedo. Para isso, além de enviar o SMS com a localização e descrição do foco, você deve acessar a sua conta e completar o foco, localizando ele no mapa e incluindo a imagem.
    %br
    %br
    Cada operadora tem um requisito mínimo de DT Torpedos completos. Assim como cada operadora dá direito a um valor diferente de recarga.
    %br
    %br
    A recarga é automática e ocorre um pouco depois de você atingir o número de DT Torpedos requisitados por sua operadora.
    %br
    %br
    Saiba mais acessando o 'Jogue como' que explica as condições para a restituição de créditos.
  %br
