.row.span14.offset1

  %h1
    = I18n.t("views.free_sms.header")
  %br

  %p
    = I18n.t("views.free_sms.description")
  %br

  %h1
    = I18n.t("views.free_sms.offer_from_sponsor.header")
  %br
  %p
    = I18n.t("views.free_sms.offer_from_sponsor.description_html").html_safe
  %br
