.row
  .span15.offset1
    =flash[:alert]
    %h1{style: "margin-left:10px;"}
      MANUAL DENGUE TORPEDO
    %br
    .accordion#accordion1
      .accordion-group
        .accordion-heading{style: "padding:10px;"}
          %a{href: 'javascript:$("#cadastrar").collapse("toggle");', style: "font-size:20px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
            /Como se cadastrar
            =@manualInstruction1.title
          -if @current_user != nil && @current_user.role == "admin"
            =link_to "Edit",edit_manual_instruction_path(@manualInstruction1)

        #cadastrar.collapse.in.accordion-body
          .accordion-inner{style: "padding: 9px 25px;"}

            =simple_format(@manualInstruction1.description)

      .accordion-group
        .accordion-heading{style: "padding:10px;"}
          %a{href: 'javascript:$("#completar").collapse("toggle");', style: "font-size:20px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
            /Como completar sua conta
            =@manualInstruction2.title
          -if @current_user != nil && @current_user.role == "admin"
            =link_to "Edit",edit_manual_instruction_path(@manualInstruction2)
        #completar.collapse.in.accordion-body
          .accordion-inner{style: "padding: 9px 25px;"}
            - str = @manualInstruction2.description
            - str1 = str.slice(0..(str.index('**Configurações de morador**')-2))
            =simple_format(str1)
            %br
            %h2 Configurações de morador
            - ind = str.index('**Configurações de morador**') + '**Configurações de morador**'.length
            - str2 = str.slice(ind..(str.index('**Configurações da casa**')-1))
            =simple_format(str2)
            %br
            %h2 Configurações da casa
            %br
            -ind = str.index('**Configurações da casa**') + '**Configurações da casa**'.length
            -str3 = str.slice(ind..str.length)
            =simple_format(str3)

      .accordion-group
        .accordion-heading{style: "padding:10px;"}
          %a{href: 'javascript:$("#barra").collapse("toggle");', style: "font-size:20px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
            /Barra de navegação
            =@manualInstruction3.title
          -if @current_user != nil && @current_user.role == "admin"
            =link_to "Edit",edit_manual_instruction_path(@manualInstruction3)
        #barra.collapse.in.accordion-body
          .accordion-inner{style: "padding: 9px 25px;"}
            =simple_format(@manualInstruction3.description) 

      .accordion-group
        .accordion-heading{style: "padding:10px;"}
          %a{href: 'javascript:$("#foco").collapse("toggle");', style: "font-size:20px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
            /O que é um foco?
            =@manualInstruction4.title
          -if @current_user != nil && @current_user.role == "admin"
            =link_to "Edit",edit_manual_instruction_path(@manualInstruction4)
        #foco.collapse.in.accordion-body
          .accordion-inner{style: "padding: 9px 25px;"}
            =simple_format(@manualInstruction4.description)

      .accordion-group
        .accordion-heading{style: "padding:10px;"}
          %a{href: 'javascript:$("#jogar").collapse("toggle");', style: "font-size:20px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
            /Como jogar
            =@manualInstruction5.title
          -if @current_user != nil && @current_user.role == "admin"
            =link_to "Edit",edit_manual_instruction_path(@manualInstruction5)
        #jogar.collapse.in.accordion-body
          .accordion-inner{style: "padding: 9px 25px;"}
            - str = @manualInstruction5.description
            - str1 = str.slice(0..(str.index('**Visualizando focos**')-1))
            =simple_format(str1)
            %h2 Visualizando focos
            - ind = str.index('**Visualizando focos**') + '**Visualizando focos**'.length
            - str2 = str.slice(ind..(str.index('**Marcando focos**')-1))
            =simple_format(str2)
            %h2 Marcando focos
            -ind = str.index('**Marcando focos**') + '**Marcando focos**'.length
            -str3 = str.slice(ind..(str.index('**Pelo site do Dengue Torpedo**')-1))
            =simple_format(str3)
            %h3{style: "font-weight:bold;"} Pelo site do Dengue Torpedo   
            - ind = str.index('**Pelo site do Dengue Torpedo**') + '**Pelo site do Dengue Torpedo**'.length
            - str4 = str.slice(ind..(str.index('**Por Torpedo**')-1))
            =simple_format(str4)         
            %h3{style: "font-weight:bold;"} Por Torpedo
            - ind = str.index('**Por Torpedo**') + '**Por Torpedo**'.length
            - str5 = str.slice(ind..(str.index('**Eliminando focos**')-1))
            =simple_format(str5)
            %h2 Eliminando focos
            - ind = str.index('**Eliminando focos**') + '**Eliminando focos**'.length
            - str6 = str.slice(ind..(str.index('**Regras do jogo e verificação**')-1))
            =simple_format(str6)
            %h2 Regras do jogo e verificação
            - ind = str.index('**Regras do jogo e verificação**') + '**Regras do jogo e verificação**'.length
            - str7 = str.slice(ind..(str.index('**Microblog**')-1))
            =simple_format(str7)
            %h2 Microblog
            -ind = str.index('**Microblog**') + '**Microblog**'.length
            =simple_format(str.slice(ind..(str.length)))

      .accordion-group
        .accordion-heading{style: "padding:10px;"}
          %a{href: 'javascript:$("#ganhar").collapse("toggle");', style: "font-size:20px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
            /Como ganhar
            =@manualInstruction6.title
          -if @current_user != nil && @current_user.role == "admin"
            =link_to "Edit",edit_manual_instruction_path(@manualInstruction6)
        #ganhar.collapse.in.accordion-body
          .accordion-inner{style: "padding: 9px 25px;"}

            - str = @manualInstruction6.description
            %h2 Ganhando pontos
            - ind = str.index('**Ganhando pontos**') + '**Ganhando pontos**'.length
            - str2 = str.slice(ind..(str.index('**table**')-1))
            =simple_format(str2)
            %table{border: 1, width: "100%", cellpadding: "5px"}
              %tbody
                %tr
                  %td{width: "42%"} Tipo de Foco
                  %td{width: "42%"} Método de Eliminação
                  %td{width: "14%"} Pontos
                %tr
                  %td{rowspan: "4", width: "42%"} Pratinho de planta
                  %td{width: "42%"} Elimine fazendo furos no pratinho
                  %td{width: "14%"} 200
                %tr 
                  %td{width: "42%"} Prato removido (ou seja, não mais utilizado)
                  %td{width: "14%"} 200
                %tr 
                  %td{width: "42%"} Coloque areia
                  %td{width: "14%"} 100
                %tr 
                  %td{width: "42%"} Retire a água e esfregue para remover possíveis ovos (uma vez por semana).
                  %td{width: "14%"} 50
                %tr
                  %td{rowspan: "4", width: "42%"} Pneu
                  %td{width: "42%"} Desfaça-se do pneu (entregue ao serviço de limpeza)
                  %td{width: "14%"} 50
                %tr 
                  %td{width: "42%"} Arranje um uso alternativo para o pneu: preencha com terra e faça uma horta; preencha com areia, terra e cimento e utilize como degrau.
                  %td{width: "14%"} 450
                %tr 
                  %td{width: "42%"} Transferir o pneu sem água para um local coberto e seco.
                  %td{width: "14%"} 100
                %tr 
                  %td{width: "42%"} Cubra o pneu com algo que não se transforme em um foco potencial do mosquito.
                  %td{width: "14%"} 100
                %tr
                  %td{rowspan: "3", width: "42%"} Lixo (recipientes inutilizados)
                  %td{width: "42%"} Jogá-los em uma lixeira bem tampada.
                  %td{width: "14%"} 0
                %tr 
                  %td{width: "42%"} Organize um mutirão de limpeza na vizinhança (coordenado pelos Agentes de Vigilância Sanitária) OBS: em locais onde não há atuação dos garis comunitários.
                  %td{width: "14%"} 450
                %tr 
                  %td{width: "42%"} Participe de um mutirão de limpeza na vizinhança (coordenado pelos Agentes de Vigilância Sanitária) OBS: em locais onde não há atuação dos garis comunitários.
                  %td{width: "14%"} 350
                %tr
                  %td{rowspan: "2", width: "42%"} Pequenos Recipientes utilizáveis, Garrafas de vidro, vasos, baldes, tigela de água de cachorro

                  %td{width: "42%"} Remova a água e esfregue uma vez por semana; ou, no caso de bebedouros de animais e aves, trocar a água e limpar diariamente.
                  %td{width: "14%"} 50
                %tr 
                  %td{width: "42%"} Virar de cabeça para baixo, secar e armazenar.
                  %td{width: "14%"} 50
                %tr
                  %td{rowspan: "3", width: "42%"} Grandes Recipientes Utilizáveis, Tonéis, outras depósitos de água, pias, galões d’água.
                  %td{width: "42%"} Cobrir a caixa d’água
                  %td{width: "14%"} 450
                %tr 
                  %td{width: "42%"} Vedar adequadamente com tapa e ou capa apropriada
                  %td{width: "14%"} 200
                %tr 
                  %td{width: "42%"} Outros recipientes: esfregue, seque, cubra ou sele.
                  %td{width: "14%"} 350
                %tr
                  %td{rowspan: "1", width: "42%"} Calha
                  %td{width: "42%"} Desentupir e limpar;
                  %td{width: "14%"} 150
                %tr
                  %td{rowspan: "3", width: "42%"} Registros abertos
                  %td{width: "42%"} Sele com cobertura impermeável para prevenir a penetração da água e ainda ter acesso ao registro.
                  %td{width: "14%"} 300
                %tr 
                  %td{width: "42%"} Preencha com areia ou terra e mude o acesso à válvula.
                  %td{width: "14%"} 300
                %tr 
                  %td{width: "42%"} Vedar.
                  %td{width: "14%"} 300
                %tr
                  %td{rowspan: "1", width: "42%"} Laje e terraços com água

                  %td{width: "42%"} Limpá-las.
                  %td{width: "14%"} 50
                %tr
                  %td{rowspan: "2", width: "42%"} Piscinas
                  %td{width: "42%"} Piscinas em uso: esfregue e limpe uma vez por semana
                  %td{width: "14%"} 350
                %tr 
                  %td{width: "42%"} Piscinas que não estão em uso: esfregue, seque e vire ao contrário. Em casos de piscina de plástico desmonte e guarde.
                  %td{width: "14%"} 350
                %tr
                  %td{rowspan: "1", width: "42%"} Poças d’água na rua
                  %td{width: "42%"} Elimine a água com rodo ou vassoura
                  %td{width: "14%"} 50
                %tr
                  %td{rowspan: "3", width: "42%"} Ralos
                  %td{width: "42%"} Jogue água sanitária ou desinfetante semanalmente.
                  %td{width: "14%"} 50
                %tr 
                  %td{width: "42%"} Elimine entupimento
                  %td{width: "14%"} 50
                %tr 
                  %td{width: "42%"} Vede ralos não utilizados
                  %td{width: "14%"} 50
                %tr
                  %td{rowspan: "3", width: "42%"} Plantas ornamentais que acumulam água (ex: bromélias).
                  %td{width: "42%"} Regar semanalmente com água sanitária na proporção de uma colher de sopa para um litro de água.
                  %td{width: "14%"} 50
                %tr 
                  %td{width: "42%"} Retire a água acumulada nas folhas
                  %td{width: "14%"} 50
                %tr 
                  %td{width: "42%"} Regar semanalmente com água sanitária na proporção de uma colher de sopa para um litro de água.
                  %td{width: "14%"} 50
            %h2 Trocando pontos
            %h3{style: "font-weight:bold;"} Por prêmios
            -ind = str.index('**Por prêmios**') + '**Por prêmios**'.length
            -str3 = str.slice(ind..(str.index('**Por medalhas**')-1))
            =simple_format(str3)
            %h3{style: "font-weight:bold;"} Por medalhas   
            - ind = str.index('**Por medalhas**') + '**Por medalhas**'.length
            - str4 = str.slice(ind..(str.index('**Restituindo créditos de celular pré-pago.**')-1))
            =simple_format(str4)
            %h3{style: "font-weight:bold;"} Restituindo créditos de celular pré-pago.         
            - ind = str.index('**Restituindo créditos de celular pré-pago.**') + '**Restituindo créditos de celular pré-pago.**'.length
            - str5 = str.slice(ind..(str.index('**table2**')-1))
            =simple_format(str5)
            %table{border: 1, width: "100%", cellpadding: "5px"}
              %tbody
                %tr
                  %td{width: "20%"} Operadora
                  %td{width: "40%"} Máximo creditado por mês (R$)
                  %td{ width: "40%"} Quantidade DT Torpedos requisitados

                %tr
                  %td{width: "20%"} Claro
                  %td{width: "40%"} R$ 13
                  %td{ width: "40%"} 17
                %tr
                  %td{width: "20%"} Nextel
                  %td{width: "40%"} R$ 20
                  %td{ width: "40%"} 27

                %tr
                  %td{width: "20%"} Oi
                  %td{width: "40%"} R$ 15
                  %td{ width: "40%"} 20
                %tr
                  %td{width: "20%"} Tim
                  %td{width: "40%"} R$ 13
                  %td{ width: "40%"} 17
                %tr
                  %td{width: "20%"} Vivo
                  %td{width: "40%"} R$ 15
                  %td{ width: "40%"} 20
            - ind = str.index('**table2**') + '**table2**'.length
            - str5 = str.slice(ind..(str.index('**Tipos de prêmios**')-1))
            =simple_format(str5)
            %h2 Tipos de prêmios
            - ind = str.index('**Tipos de prêmios**') + '**Tipos de prêmios**'.length
            =simple_format(str.slice(ind..(str.length)))

      .accordion-group
        .accordion-heading{style: "padding:10px;"}
          %a{href: 'javascript:$("#participar").collapse("toggle");', style: "font-size:20px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
            /Como participar
            =@manualInstruction7.title
          -if @current_user != nil && @current_user.role == "admin"
            =link_to "Edit",edit_manual_instruction_path(@manualInstruction7)
        #participar.collapse.in.accordion-body
          .accordion-inner{style: "padding: 9px 25px;"}
            - str = @manualInstruction7.description
            - str1 = str.slice(0..(str.index('**Moradores**')-1))
            =simple_format(str1)
            %h2 Moradores
            - ind = str.index('**Moradores**') + '**Moradores**'.length
            - str2 = str.slice(ind..(str.index('**Patrocinadores**')-1))
            =simple_format(str2)
            %h2 Patrocinadores
            -ind = str.index('**Patrocinadores**') + '**Patrocinadores**'.length
            -str3 = str.slice(ind..(str.index('**Verificadores**')-1))
            =simple_format(str3)
            %h2 Verificadores  
            - ind = str.index('**Verificadores**') + '**Verificadores**'.length
            =simple_format(str.slice(ind..(str.length)))
            

      .accordion-group
        .accordion-heading{style: "padding:10px;"}
          %a{href: 'javascript:$("#comunidade").collapse("toggle");', style: "font-size:20px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
            /Minha comunidade
            =@manualInstruction8.title
          -if @current_user != nil && @current_user.role == "admin"
            =link_to "Edit",edit_manual_instruction_path(@manualInstruction8)
        #comunidade.collapse.in.accordion-body
          .accordion-inner{style: "padding: 9px 25px;"}
            =simple_format(@manualInstruction8.description)

:javascript
  $(".collapse").collapse();
            