.row
  .span15.offset1
    %h1{style: "margin-left:10px;"}
      MANUAL DENGUE TORPEDO
    %br

    .accordion#accordion1
      .accordion-group
        .accordion-heading{style: "padding:10px;"}
          %a{href: 'javascript:$("#cadastrar").collapse("toggle");', style: "font-size:20px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
            Como se cadastrar
        #cadastrar.collapse.in.accordion-body
          .accordion-inner{style: "padding: 9px 25px;"}
            %p Fazer o seu cadastro no Dengue Torpedo (DT) é fácil!
            %p Na página inicial insira todas as informações nos campos solicitados.
            %br

            Email;
            %br
            Nome;
            %br
            Nome do meio (quando houver):
            %br
            Sobrenome;
            %br
            Número de celular, no formato 021XXXXXXXXX (Atenção: insira o 9° dígito);
            %br
            Senha para acessar sua conta, mínimo 4 caracteres;
            %br
            E Confirmação da senha.
            %br
            %p Para prosseguir clique no botão Cadastre-se, você será direcionado para a página de Configurações, nela você completa o seu cadastro incluindo mais informações pessoais.

            %br
            %p <b style: "color:red;">ATENÇÃO</b>: Você deve escrever o seu nome como consta em um documento válido, como RG, esse dado será utilizado na troca dos seus pontos por prêmios!
            %br
            %p Apenas moradores da Maré convidados por um usuário ou membro da equipe Dengue Torpedo podem participar! Atualmente estamos na fase inicial aperfeiçoando o aplicativo com os moradores da Maré. Em nossa próxima fase, o Dengue Torpedo será aberto a moradores de outros bairros da cidade. 

      .accordion-group
        .accordion-heading{style: "padding:10px;"}
          %a{href: 'javascript:$("#completar").collapse("toggle");', style: "font-size:20px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
            Como completar sua conta
        #completar.collapse.in.accordion-body
          .accordion-inner{style: "padding: 9px 25px;"}
            %p Para completar a sua conta você precisa fornecer mais alguns dados pessoais.
            %p Assim que você apertar o botão Cadastre-se na página principal, você será direcionado para a página de Configurações.
            %p Nela os dados que você inseriu na página principal já estarão preenchidos. Você só precisa inserir os outros dados que ajudarão a personalizar a sua conta, deixando ela com a sua cara!  Os campos estão divididos em dois grupos: Configurações de morador e Configurações da casa. 

            %br
            %h2 Configurações de morador
            %p Para completar as configurações de morador, basta preencher os campos em branco.
            %br
            %p • Inclua o seu Apelido se tiver;
            %p • Clique no botão do gênero masculino ou feminino;
            %p • Digite a sua Operadora de celular e Confirme no campo abaixo;
            %p • Selecione o tipo de conta de celular pré-pago ou pós-pago;
            %p • Insira uma imagem pessoal para o seu perfil, se quiser.

            %br
            %h2 Configurações da casa
            %br
            %p Você deve completar os dados da Configuração da Casa também no primeiro acesso. Para configurar a sua casa, basta preencher os campos de: 
            %br
            %p • Rua, beco, viela, etc;
            %p • Nome;
            %p • Número;
            %p • Imagem da residência. 

            %br
            %p Após preencher os campos do endereço, um marcador irá aparecer no mapa ao lado. Você deve verificar se o marcador está na localização correta da sua casa. Caso ele não esteja, basta você ir até onde sua casa fica e clicar sobre a localização correta. O marcador irá aparecer.

            %br
            %p <b>ATENÇÃO</b>: Caso algum morador da sua casa já tenha se cadastrado no DT é necessário que você se cadastre como morador dessa casa inserindo o mesmo endereço e nome da casa. Ex: Se o seu irmão cadastrou a casa da sua família como Souza, você também deverá se cadastrar nela inserindo o mesmo endereço e Nome da casa como Souza.

            %br
            %p Se você se cadastrou no site porque um amigo ou vizinho convidou você, não se esqueça de indicar o nome dele no campo Alguém o convidou a se cadastrar no DT?. Nesse campo selecione se a pessoa que o convidou é um morador/vizinho ou um ACS/AVS e digite o nome dele no campo abaixo. 



      .accordion-group
        .accordion-heading{style: "padding:10px;"}
          %a{href: 'javascript:$("#barra").collapse("toggle");', style: "font-size:20px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
            Barra de navegação
        #barra.collapse.in.accordion-body
          .accordion-inner{style: "padding: 9px 25px;"}
          %p Na barra de navegação você encontra os links para acessar cada página do site:
          %br
          %p • Meu Perfil;
          %p • Minha Casa;
          %p • Minha Comunidade;
          %p • Focos Marcados;
          %p • Configurações.

          %br

          %p A barra de navegação pode ser acessada a qualquer momento, ela aparece em todas as páginas enquanto você estiver logado.

          %br
          %br
          %p Após realizar o seu cadastro, entre na sua conta na página inicial inserindo o seu e-mail e senha no canto superior direito. Você estará logado no site Dengue Torpedo e poderá visualizar a sua conta. Clique em Configurações. Nessa página você poderá atualizar sua conta, e verificar as Configurações de usuário e Configurações de Casa. 

          %br

          %p Acesse essa página quando quiser inserir ou alterar seus dados pessoais, imagens de perfil e da casa. 
      .accordion-group
        .accordion-heading{style: "padding:10px;"}
          %a{href: 'javascript:$("#group").collapse("toggle");', style: "font-size:20px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
            Como modificar o perfil
        #group.collapse.in.accordion-body
          .accordion-inner{style: "padding: 9px 25px;"}
      .accordion-group
        .accordion-heading{style: "padding:10px;"}
          %a{href: 'javascript:$("#foco").collapse("toggle");', style: "font-size:20px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
            O que é um foco?
        #foco.collapse.in.accordion-body
          .accordion-inner{style: "padding: 9px 25px;"}
            %p Um foco é um lugar com água parada, geralmente limpo, onde os mosquitos põem seus ovos. 
            %br
            %p Dengue Torpedo reconhece que há dois tipos de focos: 
            %p • Focos ativos -- com pupas ou larvas de mosquito;
            %p • Focos potenciais -- possíveis criadouros de mosquito.
            %br
            %p Dengue Torpedo não distingue entre ativos e potenciais. Quando encontrado, os dois tipos são chamados focos marcados e ganham a mesma pontuação.

      .accordion-group
        .accordion-heading{style: "padding:10px;"}
          %a{href: 'javascript:$("#jogar").collapse("toggle");', style: "font-size:20px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
            Como jogar
        #jogar.collapse.in.accordion-body
          .accordion-inner{style: "padding: 9px 25px;"}
            %p Há várias formas de jogar. Você pode:
            %br
            %p • Marcar focos;
            %p • Eliminar focos;
            %p • Postar no blog;
            %p • Convocar amigos e vizinhos para jogar;
            %p • Ganhar pontos;
            %p • Trocar pontos por prêmios;
            %p • Participar das atividades promovidas pelo Dengue Torpedo.

            %br
            %p Toda vez que você acessar o site do Dengue Torpedo poderá visualizar os focos marcados. Há dois tipos de focos marcados, os focos em aberto e os focos já eliminados. Os focos em aberto você deve eliminar para ganhar pontos. s
      .accordion-group
        .accordion-heading{style: "padding:10px;"}
          %a{href: 'javascript:$("#group").collapse("toggle");', style: "font-size:20px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
            Como ganhar
        #group.collapse.in.accordion-body
          .accordion-inner{style: "padding: 9px 25px;"}
      .accordion-group
        .accordion-heading{style: "padding:10px;"}
          %a{href: 'javascript:$("#group").collapse("toggle");', style: "font-size:20px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
            Como participar
        #group.collapse.in.accordion-body
          .accordion-inner{style: "padding: 9px 25px;"}
      .accordion-group
        .accordion-heading{style: "padding:10px;"}
          %a{href: 'javascript:$("#group").collapse("toggle");', style: "font-size:20px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
            Minha comunidade
        #group.collapse.in.accordion-body
          .accordion-inner{style: "padding: 9px 25px;"}
:javascript
  $(".collapse").collapse();
            