= render :partial => "shared/flashes"
= render :partial => "shared/form_errors", :locals => {:item => @notice}


.container
	.row
		.col-md-12
			%h1
				= I18n.t("views.coordinator.new_news")
			.well
				= render 'coordinator/notices/form_create'
