.feed-item
  .row{"style" => "margin-top: 20px; margin-left: 5px; margin-right: 5px;"}

    %div{"style" => "display: inline-block;"}
      %a{"ng-href" => "{{post.user.url}}"}
        %img.img-rounded{"ng-src" => "{{post.user.photo}}", "style" => "height: 75px; width: 75px;"}


    .feed-item-bar-new{:style => "display: inline-block;"}
      .username{:style => "padding-left: 5px;"}
        %a{"ng-href" => "{{post.user.url}}", :user_id => "{{post.user.id}}" }
          {{post.user.display_name}}
        %a{"ng-href" => "{{post.user.neighborhood.url}}", :style => "color: #8899a6; font-weight: 300;"}
          {{post.user.neighborhood.geographical_display_name}}
    .feed-item-timestamp.pull-right{:style => "display: inline-block; font-size: 16px;"}
      {{post.timestamp}}


  .feed-item-content
    %div{"ng-bind-html" => "post.content | denguechatLinky:'_blank'", "show-more" => true}
    .post-photo{"ng-hide" => "{{post.photo == null}}"}
      %img.img-rounded{"ng-src" => "{{post.photo}}"}


  .feed-item-interaction-menu
    %a.feed-button{"ng-click" => "updateLikesCounter(post)", "ng-style" => "{color: post.liked == true ? '#3498db' : '#8899a6'}"}
      %i.fa.fa-thumbs-up.like-icon
      {{post.likes_count}}

    - if @current_user.present?
      %a.feed-button{"ng-click" => "showComentar = !showComentar"}
        %i.fa.fa-comment-o
        Comentar


    %a.feed-button{"share-to-facebook" => true, "ng-click" => "", :post => "{{post}}"}
      %i.fa.fa-share
      Compartir Facebook


    - if @current_user.present?
      .pull-right{"ng-show" => "post.user.id == #{@current_user.id} || #{@current_user && @current_user.coordinator?}"}
        %a{"style" => "margin-right: 10px;", "ng-click" => "deletePost(post)", "path" => "post.actions.delete"}
          %span{"ng-hide" => "deleteRequestSubmitted"}
            = I18n.t("common_terms.delete")
          %i.fa.fa-spin.fa-refresh{"ng-show" => "deleteRequestSubmitted"}


.row{"comment" => "comment", "ng-repeat" => "comment in post.comments"}
  = render :partial => "comments/comment"

.comentario{"ng-show" => "showComentar"}
  .feed-item-comment{:style=> "margin-right: 0px;"}
    .row
      .col-md-12
        %form.feed-item-comment-form.ng-pristine.ng-valid{"accept-charset" => "UTF-8", "ng-submit" => "createComment(post, comment)", :method => "post"}
          %div{:style => "margin:0;padding:0;display:inline"}
            %input{:name => "utf8", :type => "hidden", :value => "✓"}/
            %input{:name => "authenticity_token", :type => "hidden", :value => "1vnH4l6Pdoo2Pyph7qRD0rU5T2obW8S0WQ4koO+Jg5w="}/
          %textarea#comment_content.form-control{:name => "comment[content]", "ng-model" => "comment.content"}
          %button.btn.btn-success.btn-right.submit-button{:type => "submit"}
            %i.fa.fa-refresh.fa-spin
            Chat


