= render :partial => "shared/flashes"
= render :partial => "shared/form_errors", :locals => {:item => @section}

.row
  .col-md-12.col-md-offset-1

    %h1
      = I18n.t("views.documentation_sections.new.title")
    %br

    = render :partial => "documentation_sections/form"
