.row
  .col-md-16.col-md-offset-1
    %h1 Comunidade Dengue Torpedo

    %p
      Você também quer participar da Comunidade Dengue Torpedo, mas a sua região ainda
      não é participante? Se você quiser que seu bairro, escola ou comunidade participe do
      Dengue Torpedo, entre em contato com nossa equipe.

    %br

    = render 'feedbacks/form'
