.row
  .col-md-8.col-md-offset-2
    %h1 Comunidade Dengue Torpedo

    %p{:style => "margin-top: 20px;"}
      Você também quer participar da Comunidade Dengue Torpedo, mas a sua região ainda
      não é participante? Se você quiser que seu bairro, escola ou comunidade participe do
      Dengue Torpedo, entre em contato com nossa equipe.

    %br

    = render 'feedbacks/form'
