= render :partial => "shared/flashes"

%div{style: "min-height:700px;"}
  .row
    .col-md-3.col-md-offset-1{:style => "border-right: 1px solid #ccc;"}
      = render :partial => "neighborhoods/sidebar"

    .col-md-7.col-md-offset-1
      = render :partial => "neighborhoods/main"

- content_for :scripts do
  %script{:src => "https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}", :type => "text/javascript"}
  = javascript_include_tag "feed-interactions"
