= render :partial => "shared/flashes"

.master-detail-layout
  .row
    .col-md-3.col-md-offset-1.detail-border
      = render :partial => "neighborhoods/sidebar"

    .col-md-7.col-md-offset-1
      = render :partial => "neighborhoods/main"
