@import "variables";

#login {
  margin-top: 15px;




  #error {
   height: $login_error_height;
   margin-left: 5px;
   font-size: 11px;
  }
}

#logged_in {
  margin-top: 20px;
  margin-right: 10px;
  text-align: left;

  h3 {
  	color:white;
  	font-size: 17px;
    margin-bottom: 0px;
    font-color: #333333;
  }

  #dashboard_search {
    margin-left: 0px;
    margin-right: 40px;
    margin-top: 6px;
    float: left;

    input {
	    padding:4px;
	    margin-top:-5px;
      width: 200px;
    }
  }
}
