$layout-gray: #dddddd;
$gray: #dfdfdf;
$gray-color: #dfdfdf;

$background-color: #EFF0F3;
$orange: #FF6600;
$orange-color: #FF6600;
$blue: #408BCA;
$light-gray: #dddddd;
$dark-gray: #4E6868;
$light-orange: #faa063;
$darkest_orange: #C64F00;
$dark_orange: #d0590a;
$red_alert: #fa0000;
$background_orange: #F86128;
$red: #FF0000;

$registration_width: 232px;
$field_width:232px;
$login-width: 150px;
$max-width: 1040px;
$login_error_height: 14px;
$button_border_radius: 2px;
$input_border_radius: 3px;

// Configuration for grid
$column-width: 55px;
$gutter-width: 10px;
$columns: 16;


// From flatuicolors.com
$light-blue: #3a9bdc;



$denguechat-blue: rgba(55,161,232,0.85);
$denguechat-grey: #F7F7F7;
$denguechat-silver: rgba(189, 195, 199, 0.1);



// IOS specific variables
// $yellow: #f1c40f;
// $green: #2ecc71;
// $blue: #3498db;
// $dark-blue: #2c3e50;
// $red: #e74c3c;
$white: #ecf0f1;


$iosblack: #000000;
$iosgreen: #4BD662;
$ioswhite: #F7F7F7;
$iosblue:  #007AFF;
$iosgrey: #EFEFF4;
$iosdarkgrey: #8E8E93;


// flatuicolors.com
$midnight-blue: #2c3e50;
$silver: #bdc3c7;

// getuicolors.com
$jordy-blue: #89C4F4;

// Bootstrap colors.
$bootstrap-info: #5bc0de;
