/*
* This is a manifest file that'll automatically include all the stylesheets available in this directory
* and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
* the top of the compiled file, but it's generally better to create a new file per style scope.
*= require bootstrap/bootstrap-min
*= require home
*= require layout
*= require prizes
*= require reports
*= require neighborhoods
*= require cities
*= require users
*= require feed
*= require "ios"
*= require "jquery/atwho-min"
*= require "bootstrap/marketing"
*= require "ui-notification/angular-ui-notification-min"
*= require about
*= require "bootstrap/bootstrap-tagsinput.css"
*= require bootstrap-datetimepicker
*= require "typeahead"
*/

div.bootstrap-tagsinput { width: 100% }

@import "variables";

.panel-title {
  font-family: "Lato" sans-serif;
  font-weight: 500;
  font-size: 18px;
}


p {
  &.bold {
    font-weight: bold;
  }
  &.large-font {
    font-size: 16px;
  }
}

html, body {
  font-family: "Helvetica Neue", sans-serif;
}


.navbar {
  margin-bottom: 0px;
}

.navbar-brand {
  padding-top: 4px;

  #logo {
    height: 40px;
    display: inline;
    @media(min-width: 992px) {
      height: 50px;
      margin-top: -5px;
    }
  }
}

[ng-click] {
    cursor: pointer;
}

.load-more {
  color: $blue;
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
}


@mixin colored_text($color) {
  color: $color;
}

.text-success-light {
  color: #5cb85c;
}

.text-primary-light {
  color: #428bca;
}

.text-red {
  color: #e74c3c;
}

.text-yellow {
  color: #f1c40f;
}

.text-green {
  color: #2ecc71;
}
.user-navigation {
  a {
    font-size: 18px;
    color: black !important;
  }

  &.active {
    border-bottom: 2px solid #FF6600 ;
  }
}



#dashboard_bar {
  background-color: white;
  height: 85px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: $iosgrey;
  font-size: 19px;

  #logo {
    height: 50px;
    margin-top: 17px;
  }

  a {
    line-height: 50px;
  }

  .dashboard-item {
    text-align: center;
    margin-top: 15px;

    a {
      text-decoration: none;
    }

    .label {
      border-radius: 1em;
      width: 25px;
      font-size: 12px;
      position: relative;
      top: -20px;
      right: 15px;
    }
  }
}


.breadcrumb {
  background-color: white !important;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  border-color: #FF6600;

  .active {
    font-weight: bold;
  }

}


.push_down {
  height: 60px;
}

#white_spacer {
  background-color: #ffffff;
  height: 5px;
  box-shadow: inset 0px 1px 2px #8A8A88;
}

.current_link {
  font-weight:bold;
}


.bs-docs-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

#header {
  .container-fluid {
    @media (min-width: 992px) {
      padding-top: 12px;
      height: 75px;
    }
  }
}

#subheader {
  .container-fluid {
    @media (min-width: 992px) {
      padding-top: 12px;
      height: 35px;
    }
  }
}


#footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
  border-top: 1px solid #e5e5e5;

  .container-fluid {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
}



.bs-docs-footer-links {
  padding-left: 0;
  margin-top: 20px;
  color: #999;

  li {
    display: inline;
    padding: 0 2px;
  }
}


.clearfloat {
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0px;
}

.absolute {
  width: inherit;
  position: absolute;
}

// a.logout_button:hover {
//   color: black;
// }

div {
  word-wrap: break-word;
}

.boxed-area {
  min-height: 60px;
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;

  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}


//---
// Navigation bar customizations
.navigation-bar {
  background-color: $denguechat-blue;
  height: 85px;

  .language-options {
    margin-top: 25px;
    line-height: 25px;
    text-align: center;
  }
}

.container-silver {
  background-color: $denguechat-silver;
  padding-top: 40px;
  padding-bottom: 40px;
}

.container-white {
  background-color: $denguechat-grey;
  padding-top: 40px;
  padding-bottom: 40px;
}


//-----------------------------------------------------------------------------
// Sidebar Configurations

.sidebar-entity-name {
  text-align: center;
  margin-top: 10px;
}

.sidebar-entity-photo{
  text-align: center;
  display: block;

  img {
    z-index: 1;
    width: 150px;
    height: 150px;
    border: 1px solid $gray;
  }
}

.sidebar-list-item {
  margin-bottom: 3px;

  img {
    width: 75px; height: 75px;
  }
}


.notifications {
  background-color: white;
  position: absolute;
  right: 75px;
  z-index: 1000;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: none;

  li {
    border-bottom: 1px solid #ddd;
  }
}



//-----------------------------------------------------------------------------
// Banner configuration
.landing-page-banner {
  height: 100%;
  caption-side: top;

  h1 {
    color: white;
    margin-top: 500px;
    font-size: 42px;
    margin-bottom: 20px;
    text-align: center;
    
  }
}


//-----------------------------------------------------------------------------
// Flash configuration

.flashes {
  margin: auto;
  width: 75%;
}

.alert {
  margin-top: 20px;
  padding-left: 35px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-size: 20px;

  ul {
    list-style: disc;
  }
}


//-----------------------------------------------------------------------------
// Bootstrap overrides

.navigation-bar {
  .dropdown-menu {
    width: 200px !important;
    right: 0px !important;

    li {
      text-align: left;
    }
  }
}


.dropdown-menu {
  padding: 0px;
}


#neighborhood_list {

  .carousel-indicators .active {
    background-color: none;
  }

  .carousel-inner {
    overflow: visible;
  }

  .dt-carousel-control {
    background-image: none !important;
    position: absolute;
    // top: 150px;
    left: 15px;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 40px;
    border-radius: 0px;
    top: 50%;

    &.left {
      top: 200px;
      left: 50px;
    }

    &.right {
      top: 200px;
      left: auto;
      right: 50px;
    }
  }
}


.location-statistics-table {
  h1 {
    font-size: 24px; text-align: center;
  }
  p {
    margin-top: 10px; text-align: center; font-size: 15px;
  }
  .percentages {
    font-size: 20px; display: inline; font-weight: 300;
  }
}

.btn-xlg {
  padding: 18px 28px !important;
  font-size: 22px !important;
  line-height: normal !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  border-radius: 8px !important;
}


.bootstrap-datetimepicker-widget {
  td.active {
    background-color: #428bca;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  }
}


// Error handling
.form-errors {
  text-align: center;
  display: none;
  p {
    color: #e74c3c;
    font-family: "Lato" sans-serif;
    font-weight: 400;
    font-size: 20px;
  }
}

.sidebar-row {
  margin-top: 20px;
  overflow-y: scroll;
  // overflow-x: hidden;
  max-height: 500px;
}

.notice {

  i {
    margin-top: 5px;
  }

  p {
    color: #6655ee;
  }
}

//-----------------------------------------------------------------------------
// Sidebar customizations

.denguechat-sidebar {
  margin-left: 30px;
  margin-right: 30px;

  hr {
    border-bottom: 1px solid #ccc;
  }
}

.more-feed-link {
  text-align: center;
  margin: 20px;

  a {
    color: #6655ee !important;
    font-size: 32px !important;
  }
}

#newsfeed {
  margin-top: 10px;
  .error-message {
    p {
      font-size: 32px;
      color: #d9534f;
      text-align: center;
    }
  }

  .error-message {
    display: none;
  }
}


.point-progress {
  h1 {
    font-size: 50px; display: inline;
  }
}




.feed-item-content {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;

  .post-photo {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }


  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;

  a {
    color: rgb(51, 122, 183);
  }
}



.master-detail-layout {
  min-height:700px;

  .detail-border {
    border-right: 1px solid #ccc;
  }
}



.page-banner {
  text-align: center;
  h1 {
    font-size: 32px;
  }
}


.page-navigation {
  h1 {
    font-size: 18px;
    display: inline;
    margin-bottom: 20px;
  }

  a {
    line-height: 35px;
    text-decoration: none;
  }
}


.page-divider {
  border: 1px solid #ccc;
}






.notice-feed-item {
  border: 1px solid #428bca !important;
}

.new-post {
  padding: 20px;
  background-color: white;
  border: 1px solid #428bca !important;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;


  ::-webkit-input-placeholder {
     font-size: 18px;
     font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
     font-weight: 200;
  }

  :-moz-placeholder { /* Firefox 18- */
    font-size: 18px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    font-size: 18px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
  }

  :-ms-input-placeholder {
    font-size: 18px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
  }

  .fa-spin {
    display: none;
  }

  .add-photo {
    font-size: 24px;
    color: #337ab7;
    line-height: 45px;
    cursor: pointer;
    cursor: hand;
  }

  button {
    float: right;
  }


  form {
    margin-bottom: 0px;
  }


  canvas {
    display: none;
  }

  .preview {
    margin-top: 20px;
    margin-left: 20px;
    display: block;
  }

  .upload_photo {
    display: none;
  }
}



// Assignments

#assignments-page {
  .panel-default.assignments {
    padding: 1rem;
    border-color: black;
    background-color: lightgray;
  }
  
  table {
    font-size: 1.3rem;
    th {
      font-weight: normal;
      border-color: gray;
      padding: 5px;
    }
    td {
      border: none !important;
      padding: 5px;
    }
  }
}

.location-search {
  display: flex;
  input, button {
    font-size: 1rem;
    font-weight: normal;
  }
}

.max-heighted {
  max-height: 400px;
  overflow-y: auto;
}

// territorio
#territorio-page {
  .panel-default.territorio {
    padding: 1rem;
    border-color: black;
    background-color: lightgray;
  }
  
  table {
    font-size: 1.3rem;
    th {
      font-weight: normal;
      border-color: gray;
      padding: 5px;
    }
    td {
      border: none !important;
      padding: 5px;
    }
  }
}