/*
* This is a manifest file that'll automatically include all the stylesheets available in this directory
* and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
* the top of the compiled file, but it's generally better to create a new file per style scope.
*= require_self
*= require jquery.ui.all
*= require_tree .
= require leaflet
*/

@import "variables";

@mixin colored_text($color) {
  color: $color;
}



#logo {
  position: absolute;
  left: 60px;
  width: 150px;
  z-index: 3;
  width: 200px;
}

#logo_short {
  position: absolute;
  left: 70px;
  width: 150px;
}

#white_spacer {
  background-color: #ffffff;
  height: 5px;
  box-shadow: inset 0px 1px 2px #8A8A88;
}

.current_link {
  font-weight:bold;
}


.bs-docs-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

.bs-docs-footer-links {
  padding-left: 0;
  margin-top: 20px;
  color: #999;

  li {
    display: inline;
    padding: 0 2px;
  }
}


.clearfloat {
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0px;
}

.absolute {
  width: inherit;
  position: absolute;
}

a.logout_button:hover {
  color: black;
}

div {
  word-wrap: break-word;
}

.boxed-area {
  min-height: 60px;
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;

  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}


//---
// Navigation bar customizations
.navigation-bar {
  background-color: $denguechat-blue;
  height: 80px;
}

.container-silver {
  background-color: $denguechat-silver;
  padding-top: 40px;
  padding-bottom: 40px;
}

.container-white {
  background-color: $denguechat-grey;
  padding-top: 40px;
  padding-bottom: 40px;
}


//-----------------------------------------------------------------------------
// Sidebar Configurations

.sidebar-entity-name {
  text-align: center;
  margin-top: 10px;
}

.sidebar-entity-photo{
  text-align: center;
  display: block;

  img {
    z-index: 1;
    width: 150px;
    height: 150px;
    border: 1px solid $gray;
  }
}

.sidebar-list-item {
  margin-bottom: 3px;
}



//-----------------------------------------------------------------------------
// Banner configuration

.landing-page-banner {
  background: url("/assets/denguechat.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size:    cover;
  -o-background-size:      cover;
  background-size: cover;
  height: 600px;

  h1 {
    color: white;
    margin-top: 450px;
    font-size: 42px; margin-bottom: 20px; text-align: center;
  }

  .play-video-link {
    text-align: center; margin-bottom: 20px;

    a {
      color: white; font-size: 24px; display: inline-block;
    }
  }
}


#play_button {
  color: white;
}


//-----------------------------------------------------------------------------
// Flash configuration

.flashes {
  margin: auto;
  width: 75%;
}

.alert {
  margin-top: 20px;
  padding-left: 35px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-size: 20px;

  ul {
    list-style: disc;
  }
}


//-----------------------------------------------------------------------------
// Bootstrap overrides

.dropdown-menu {
  width: 700px;
  left: inherit !important;

  li {
    text-align: left;
  }
}

#neighborhood_list {

  .carousel-indicators .active {
    background-color: none;
  }

  .carousel-inner {
    overflow: visible;
  }

  .dt-carousel-control {
    background-image: none !important;
    position: absolute;
    // top: 150px;
    left: 15px;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 40px;
    border-radius: 0px;
    top: 50%;

    &.left {
      top: 200px;
      left: 50px;
    }

    &.right {
      top: 200px;
      left: auto;
      right: 50px;
    }
  }
}
