.statistics-table {
  td {
    height: 37px;
    padding: 8px !important;
    border-top: 1px #bdc3c7 solid !important;
    border-right: 1px #bdc3c7 solid !important;
    border-bottom: 1px #bdc3c7 solid !important;
  }
}



.location-filter {
  h2 {
    color: #888888;
    margin-bottom: 20px;
  }

  .locations {

    max-height: 400px;
    overflow: scroll;
  }

  a {
    margin-top: 20px;
  }

}
