@import "variables";

#dashboard_bar {
  background-color: white;
  height: 50px;
  border-width: 0px 0px 3px 0px;
  border-style: solid;
  border-color: $orange;
  font-size: 17px;

  .dashboard-item {
    text-align: center;
    margin-top: 15px;
    width: 250px;
    float: left;
  }
}

.nav_highlight {
  height: 37px;
  padding: 0px 5px;
  background-color: $orange;
  border-radius: 2px;
  a:link, a:visited {
    color: white;
  }
}

.nav_item:hover{
  a{
    color:gray;
  }
}
