@import "variables";

#dashboard_bar {
  background-color: white;
  height: 85px;
  border-width: 0px 0px 3px 0px;
  border-style: solid;
  border-color: $orange;
  font-size: 20px;

  .col-md-2, .col-md-1 {
    margin-top: 15px;
  }

  .dashboard-item {
    text-align: center;
    margin-top: 15px;
    // float: left;
    // width: 150px;
  }

  a {
    line-height: 50px;
  }
}

.nav_highlight {
  height: 37px;
  padding: 0px 5px;
  background-color: $orange;
  border-radius: 2px;
  a:link, a:visited {
    color: white;
  }
}

.nav_item:hover{
  a{
    color:gray;
  }
}
