@import "variables";

.feed-item {
  min-height: 60px;
  background: #fff;
  // padding: 10px;
  // padding-bottom: 20px;
  // margin-bottom: 10px;
  margin-top: 10px;

  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;


  .label-success {
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;

    a {
      color: white;
    }
  }
}

.feed-item-timestamp {
  font-family: $primary-font;
  color: $secondary-content-color;
  font-weight: 200;
}



.feed-item-interaction-menu {
  margin-left: 20px;
  margin-top: 20px;
  color: $secondary-content-color;
  padding-bottom: 10px;

  a {
    color: $secondary-content-color;
    text-decoration: none;
    font-size: 18px;
    font-weight: 200;
  }
}


.feed-item-bar-new {
  font-size: 16px;

  span {
    font-weight: bold;
  }

  .username {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    display: inline-block;


    a {
      text-decoration: none;
      white-space: nowrap;
    }
  }

  .location {
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;

    .muted {
      color: #8899a6;
      font-weight: 200;
    }

    a {
      text-decoration: none;
      white-space: nowrap;
    }
  }

}


.feed-item-comment {
  margin-left: 75px;
  margin-right: 15px;
  // margin-top: -10px;
  min-height: 30px;
  background: #fff;
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  // padding-bottom: 20px;
  // margin-bottom: 10px;

  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-top: none;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}



.feed-item-new-comment {
  display: none;
}

.feed-item-comment-form {
  margin-left: 10px;
  margin-right: 10px;

  button {
    float: right;
    display: inline-block;
    margin-top: 10px;
  }

  i {
    display:none;
  }
}



.feed-button {
  margin-right: 15px;

  i {
    width: 100%;
    display: inline;
  }

  p {
    display: inline;
  }
}
