.chart-title {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}

#timeseries-chart {
  height: 350px;
  display: block;
  text-align: center;

  i {
    font-size: 64px; position: relative; top: 100;
  }
}

.chart-legend {
  margin-top: 10px;
  width: 10px;
  height: 10px;
  display: inline-block;

  &.red {
    background-color: #e74c3c;
  }

  &.yellow {
    background-color: #f1c40f;
  }

  &.green {
    background-color: #2ecc71;
  }
}

.chart-label {
  display: inline-block;
  font-size: 16px;
}

.chart-disclaimer {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}


.chart-filters {
  margin-top: 20px;

  label {
    font-size: 18px;
  }
}
