@import "variables";

.chart {
  background-color: white;

  .legend {
    margin-top: 30px;
    margin-left: 20px;
    padding-bottom: 20px;
  }

  .google-visualization-tooltip {
    width: 300px;
  }
}

.chart-title {
  font-size: 23px;
  margin-top: 20px;
}

#timeseries {
  input[type="radio"]{
    display: none;
  }

  height: 350px;
  display: block;
  text-align: center;

  .empty-chart-disclaimer {
    text-align: center;
    font-weight: bold; font-size: 24px;
  }

  i {
    font-size: 64px;
  }

  #timeseries-chart {
    height: 350px;
  }
}

.chart-legend {
  margin-top: 10px;
  width: 10px;
  height: 10px;
  display: inline-block;

  &.red {
    background-color: #e74c3c;
  }

  &.yellow {
    background-color: #f1c40f;
  }

  &.green {
    background-color: #2ecc71;
  }
}

.chart-label {
  display: inline-block;
  font-size: 16px;
}

.chart-disclaimer {
  text-align: center;
  font-size: 14px;
  // margin-top: 10px;
}


.chart-filters {
  margin-top: 20px;

  label {
    font-size: 14px;
  }

  h2 {
    color: #888888;
    margin-bottom: 20px;
  }

  input[type="radio"]{
    display: none;
  }

  table {
    margin-bottom: 0px;
  }
}

.sidebar-reports {
  margin-top: 20px;
}

.report-sidebar {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;

  .feed-item-profile-photo {
    margin-left: 10px;
    margin-top: 10px;
  }

  .feed-item-bar {
    margin: 0px;
  }

  .user-image {
    img {
      width: 75px;
      height: 75px;
      margin-bottom: 10px;
    }
  }

  .metadata {
    text-align: right;
    font-size: 16px;

    .positive {
      color: #e74c3c;
    }

    .potential {
      color: #e67e22;
    }


    .report-eliminated {
      color: $dark-gray;
    }

    .timer {
      display: inline-block;
    }


    .countdown {
      color: $orange;
    }

    .report-open {
      display: inline-block;
      color: $orange;
    }
  }

  .report-photo {
    text-align: center;

    img {
      width: 200px;
      margin-bottom: 10px;
    }
  }

  .name {
    vertical-align: middle;
    display: inline-block;
    font-weight: bold;
    margin-left: 10px;
    width: 250px;
    margin-top: 10px;
  }


  .label-success {
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;

    a {
      color: white;
    }
  }
}
