@import "variables";

//-----------------------------------------------------------------------------
// Report
//-------

.report-topbar {
  margin: 25px;
  margin-top: 10px;
  img {
    width: 50px;
    margin-bottom: 10px;
  }

  .metadata {
    text-align: right;
    font-weight: bold;
    font-size: 16px;

    .positive {
      color: #e74c3c;
    }

    .potential {
      color: #e67e22;
    }


    .report-eliminated {
      color: $dark-gray;
    }

    .timer {
      display: inline-block;
    }


    .countdown {
      color: $orange;
    }

    .report-open {
      display: inline-block;
      color: $orange;
    }


  }

  .name {
    vertical-align: middle;
    display: inline-block;
    font-weight: bold;
    margin-left: 10px;
    width: 250px;

    .feed-item-timestamp {
      // margin-left: 10px;
      width: 200px;
      display: inline-block;
    }

  }


  .label-success {
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
  }
}

.report-actionbar {
  margin: 25px;
  color: #8899a6;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;


  i, a {
    color: #8899a6;

  }
}

.report-content {
  .control-label {
    text-align: left;
    font-family: "Lato" sans-serif;
    font-weight: 300;
    font-size: 20px;
  }

  margin: 25px;
  margin-bottom: 10px;
  font-size: 18px;

  h1 {
    color: #8899a6;
    font-size: 16px;
  }

  p {
    font-size: 18px;
    color: #000;
  }

  .invalid-report {
    color:red;
    display: inline-block;
    margin-top: 30px;
    font-size: 20px;
  }
}

.report-photos {
  .control-label {
    margin-bottom: 10px;
  }

  .sidebar-entity-photo{
    text-align: center;

    img {
      z-index: 1;
      width: 200px;
      height: 200px;
      border: 1px solid $gray;
    }
  }
}

//-----------------------------------------------------------------------------
// General things
//---------------

.denguechat-tab-toggle {
  border: 1px #3498db solid;
  box-sizing: border-box;
  border-radius: 8px;
  li {
    width: 500px;
  }

  a {
    // height: 50px;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 7px;
  }
}


.description {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;

  a {
    color: blue;
  }
}

.report {
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 0px;

  h4 {
    font-size: 14px;
  }
}

.open {
  border-width: 2px;
  border-color: $orange;

  .report_submission{
    margin-top: 0px;
  }
  .status {
    background: $orange;
  }
}

.eliminated{
  border-color: $dark-gray;
  border-width: 2px;

  min-height: 265px;

  .status {
    background: $dark-gray;
  }
}

#new_report_form {
  margin-top: 10px;
  background: white;
  border: 1px solid $light-gray;
  padding: 10px 20px;

  input[type = "text"] {
    width: 520px;
  }

  textarea {
    width: 520px;
  }
}

.reports_open_button {
  color: $dark-gray;
  background-color: #ffffff;
}

#make_report_button {
  color: $dark-gray;
  background-color: #60BB50;
  color:white;

  .active {
    background-color: $light-gray;
    font-weight:bold
    &:h{
      color: white;
    }
  }
}

.reports_feed_button {
  color: $dark-gray;
  background-color: #ffffff;
}

.reports_resolved_button {
  color: $dark-gray;
  background-color: #ffffff;
}

// .active {
//   background-color: $orange;
//   color: white;
//   font-weight: bold;
//   font-size: 20px;
//
//   &:hover{
//     color: white;
//   }
// }


.bttn  {
  border-radius: 2px;
  text-align: center;

  padding: 8px 5px;

  &:mousedown {
    border-bottom: thick dotted #ff0000;
  }
}

/*-----------------------------------------------------------------------------
  Reports feed
*/

.elimination_type{
  height:auto;
  width: 100%;
}

#report_elimination_type{
  height:auto;
  width: 100%;
}

#report_elimination_method_id {
  height: auto;
  font-size: 16px;
  width: 100%;
}

#report_breeding_site_id {
  height: auto;
  font-size: 16px;
  width: 100%;
}

#address .street_type{
  width:200px;
}

#reports{
  display: block;
  form {
    margin-bottom: 0px;
  }
}

#new_report{
  display: block;


  #mark_map_bttn{
    border:1px;
    border-style:solid;
    border-color: black;
    color:black;

    &:hover{
      color:blue;
    }
  }

  label {
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 40px;
  }
}

/*-----------------------------------------------------------------------------
*/

#mark_map_btn {
  border-style: solid;
  border-width: 1px;

}

#location .inline_display{
  display:inline;
}

/* TODO fix overflowing height to look nicer */
#report_elimination_method{
  width: 90%;
  height: auto;
}

.error_glow{
  box-shadow: 0 0 10px red;
}


.likes_button {
  .likes_text{
    display:inline;
  }

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}




.report-metadata {
  margin-left:   10px;
  margin-bottom: 20px;

  font-size: 16px;
  i {
    font-size: 16px;
  }

  color: #8899a6;

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
}

.mapa {
  font-size: 12px;
  color: #6655ee;
  // line-height: 70px;
  display: block;
  text-align: right;
}


//-----------------------------------------------------------------------------
// ESRI map-related customization


.esriPopup .actionsPane .zoomTo {
  display: none;
}


#map_div {
  // position:absolute;
  // right:100px;
  // overflow-y:hidden;
  // overflow-x:hidden;
  height: 600px;
  margin-bottom: 40px;

  #loading {
    z-index:100;
    // width: 50%;
    // margin: auto;
    position:absolute;
    right:150;
    top: 200;
    text-align: center;

    img {
      width:50px;
      height:50px;
    }
  }



  #map-error-description {
    color: red;
    font-weight: bold;
    font-size: 10px;
    display: none;
  }

  #map {
    height: 500px;
    position:relative;
    overflow-y:hidden;
  }

  #gmap{
    height: 600px;
    position:relative;
    overflow-y:hidden;

    /* to undo the above img hack */
    img { max-width: none; }
  }

  #OSMap {
    height: 500px;
  }
}
