// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.btn-orange {
  background-color: #ff6600;
  color: white;
  background-image: -webkit-linear-gradient(top, #ff6600, #ff6600);
  background-image: -moz-linear-gradient(top, #ff6600, #ff6600);



  &:hover, &:active, &.active, &.disabled, &[disabled] {
    color: white;
    background-color: #ff6600;
  }

  text-shadow: none;

  &:active,
  &.active {
    background-color: darken(#ff6600, 10%) e("\9");
  }
}





.user_points {
  margin-top: 20px;
  padding-top: 0px;
  .user_points_bg {

  }
}
ul#user_right_panel {

  margin-left: 30px;
  background: #E2E5CF;
  padding: 15px 10px 0px 10px;
  width: 220px;
  img{
  border:1px solid $gray;

    margin-bottom: 15px;
  }

}

.user_report_time {
  text-align: right;
  margin-left: 50px;
}


.user_report {
  background-color: white;
  border-style: solid;
  border-width: 2px;
  padding: 10px;
  margin: 0px 0px 10px 10px;
}

.user_before_photo, .user_after_photo {
  margin: 10px 0px 0px 10px;
  width: 100px;
  height: 100px;
}

.user_report_content {
  margin-top: 10px;
  font-size: 14px;
  font-style: italic;
  text-shadow: 0 1px 1px #828282;
}


.user_report_status {
  margin-top: 10px;
  padding-top: 5px;
  margin-left: 50px;
  width: 70px;
  height: 25px;
  color: #FFFFFF;
  text-align: center;
  border-radius: 3px;
}

.user_report_people {
  margin-left: 10px;
  margin-top: 10px;
}

.user_report_options {
  margin-top: -30px;
  float: right;
}

.user_claimed_report {
  border-color: $blue;
  .status {
    background: $blue;
  }
}

.user_open_report {
  border-color: $orange;
  .status {
    background: $orange;
  }
}

.user_resolved_report {
  border-color: $light-gray;
  .status {
    margin-top: 10px;
    padding-top: 5px;
    margin-left: 5px;
    width: 70px;
    height: 25px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 3px;
    background: $light-gray;
  }
}

#user_top_bar {
  z-index: 0;
  list-style-type: none;

  #user_top_pictures {
    .arrow_image{
      margin-top:75px;
      float:left;
    }
    .user_reward_title {
      font-size:18px;
      text-align:center;
    }
    .arrow_image_right {
      float:right;
      margin-top:75px;
    }
    .user_profile_rewards
     {
      border: 2px solid $gray;
      height:200px;
      overflow-x:hidden;
      overflow-y:hidden;
    }
    .user_reward {
      height:200px;
      float:left;
    }
    .user_profile_map {
      border: 2px solid $gray;
      height: 150px;
      background: #dddddd;
    }

    .user_house_picture, .user_neighborhood_picture{
      margin-right: 11;
      display: inline;


      img {
        z-index: 1;

        width: 96px;
        height: 96px;
      border:1px solid $gray;

      }
    }
    .user_neighborhood_picture {
    }
  }
  .force_behind {
    z-index: 0;
  }

  #user_top_text {
    z-index: 1;
    position: absolute;
    h3 {
      font-size: 12px;
      line-height: 24px;
    }
    .user_force_position {
      width: 90px;
      margin-left: 242px;
    }
    .user_name {
      margin-left: -28px;
    }
    .user_house, .user_neighborhood {
      width: 100px;
      z-index:1;
    }
    .user_points {
      z-index: 1;
      text-align: center;
      padding-top: 25px;
      margin-top: 50px;
      margin-left: 0px;
      .user_points_bg {
        margin: -5px 0px 0px 0px;
        width: 100px;
        background: $blue;
        color: white;
        border-radius: 2px;
        padding: 10px 5px;
        font-size: 16px;
      }
    }
  }
}

.main_nav_button {

  margin-top: 10px;

  font-family: "Lato",sans-serif;
  // font-weight: 300;

  h1{
    font-weight:bold;


  }

  h3 {
    color: #ffffff;
    font-weight:normal;
    margin-top:-10px;
  }

  p {
    font-family: "Lato",sans-serif;
    // font-weight: 300;
    text-align: left;
    font-size: 16px;
    color: white;
  }
}


//-----------------------------------------------------------------------------
// Feed-related customizations
//-----------------------------------------------------------------------------
.feed-item-profile-photo {
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;

  img {
    width:  100px;
    height: 100px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
  }
}


.feed-item-elimination-incentive {
  border: 1px #ccc solid;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;

  height: 175px;
  width: 175px;
  background-image: image-url("phone-prize.png");

  display: table-cell;
  vertical-align: middle;

  margin-left: 60px;



  p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 27px;
    line-height: 40px;
    text-align: center;
  }
}

.feed-item-bar {
  font-size: 16px;
  display:inline-block;
  vertical-align: middle;
  margin-left: 10px;

  span {
    font-weight: bold;
  }

  .username {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    display: inline-block;


    a {
      text-decoration: none;
      white-space: nowrap;
    }
  }

  .location {
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    display: inline-block;

    a {
      text-decoration: none;
      white-space: nowrap;
    }
  }

  .feed-item-timestamp {
    display: block;
  }
}

.feed-item-timestamp {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #8899a6;
  display: inline;
}

.feed-item {
  min-height: 60px;
  background: #fff;
  // padding: 10px;
  // padding-bottom: 20px;
  margin-bottom: 10px;

  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;


  .label-success {
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;

    a {
      color: white;
    }
  }

}

.feed-item-interaction-menu {
  margin-left: 20px;
  margin-bottom: 10px;
  color: #8899a6;

  a {
    color: #8899a6;
    text-decoration: none;
  }
}

.feed-item-comment {
  margin-left: 75px;
  margin-top: -10px;
  min-height: 30px;
  background: #fff;
  padding: 10px;
  // padding-bottom: 20px;
  margin-bottom: 10px;

  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-top: none;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

//-----------------------------------------------------------------------------


.profile-view-points-button {
  margin-top: 20px;
  margin-bottom: 10px;
}

.profile-view-reports-button {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 200px;
}




//OLD BELOW HERE

.user_form {
  width: $max-width;
}

.main_column_personal{
  width: 630px;
  height:1000px;
  margin-left: 44px;
  float:left;
  h3 {
    margin-top: 20px;
    color: #888888;
    font-weight: lighter;
    font-size: 15px;
  }
}

.profile_main {
  margin-top: 40px;
  .profile_photo{
    height:150px;
    width:150px;
    display: inline-block;
    vertical-align: text-top;
    border: 1px solid #bbbbbb;
  }
  .personal_profile_info{
    vertical-align: text-top;
    display: inline-block;
    margin-left: 15px;
    width: 450px;

    .name {
      font-size:24px;
      color:#666666;
    }
    .stats {
      text-align: center;
      .subcolumn {
        width: 30%;
        display: inline-block;
        vertical-align: text-top;
        color: #969696;
        margin: 5px;
        .category {
          font-weight: lighter;
          text-shadow: 0px 1px #FFFFFF;
          padding: 5px;
          font-size: 13px;
        }
        .value {
          background-color: #00CDCB;
          color: white;
          padding: 17px 20px;
          font-size: 15px;
          border-radius: 2px;
        }
      }
    }
  }
}

.neighbors_container{
  margin-top:20px;
  height:110px;
  width:330px;
  background-color:#E9ECD6;
  float:left;
}

.neighbors_text{
  font-size:14px;
  margin-left:28px;
  margin-top:10px;
}

.neighbors_all{
  margin-top:10px;
  margin-left:25px;
}

.neighbor_photo{
  height:48px;
  width:42px;
  background-color:gray;
  margin-left:3px;
  float:left;
}

.report_filters_personal{
  width:100%;
  height: 35px;
  margin-top:20px;

  .text{
    font-size:12px;
    color:black;
    text-align:right;
    margin-top:7px;
    margin-right:7px;
    width:auto;
    float:right;
  }
  .number {
    float:left;
    width:30px;
    color:white;
    text-align:right;
    font-size:16px;
    margin-top:5px;
    margin-left:5px;
    margin-right:5px;
  }
  .stars, .open, .claimed, .resolved, .eliminations {
    width: 117px;
    height: 32px;
    margin-right: 6px;
    float: left;
  }
  .stars {
    background-color: #E9ECD6
  }
  .open {
    background-color: #FB4E1C
  }
  .claimed {
    background-color: $blue;
  }
  .resolved {
    background-color: $light-gray;
  }
  .eliminations {
    background-color: #999999;
    .number {
      width: 20px;
    }
  }
}

.personal_reports_list .report{
  margin-top:5px;
  height:142px;
  width:612px;
  float:left;
/*  background-image:url(/assets/reportbg_l1.png);*/
}


.second_column_personal{
  float: left;
  .map {
    background-image: url(arrows.png);
    width: 300px;
    height: 175px;
    margin-left:0px;
    margin-bottom:10px;
    padding-top: 0px;
    padding-left: 0px;
    background-repeat: no-repeat;
    float:right;
  }
  .report_stats {
    padding: 15px 0;
    width: 300px;
    text-align: center;
    margin: auto;
    vertical-align: text-top;
    .stats {
      display: inline-block;
      margin: 5px;
      width: 95px;
      padding: 7px 17px;
      line-height: 20px;
      text-align: left;
      .value {
        vertical-align: middle;
        font-size: 20px;
        float: left;
      }
      .category {
        vertical-align: middle;
        font-size: 13px;
        margin-left: 10px;
        font-weight: lighter;
      }
    }
    /*nt sure about these values, perhaps use alpha channel? */
    #opened {
      background-color: rgba(254, 209, 161, 1);
    }
    #claimed {
      background-color: rgba(177, 240, 223, 1);
    }
    #eliminated {
      background-color: rgba(223, 224, 207, 1);
    }
    #resolved {
      background-color: rgba(236, 238, 216, 1);
    }
  }
  .recent_reports {
    width: 320px;
    height: auto;
  }
}

.house_link{
  width:298px;
  height:141px;
  border: 1px solid #C4C7B4;
  background-color: white;
}

.prevention_ideas{
  width: 298px;
  height: 483px;
  background-color:#E9ECD6;
  margin-top:10px;
}

.update_background {
  .update_width {
    width: 372px;
  }

  background-color: $background_orange;
  background-repeat: repeat;
  width: $max-width;
  height: 800px;
}


.cancel_button {
  vertical-align: top;
  padding: 3px;
  margin-top: -6px;
}

#role_specific {
  position: absolute;
  margin-left: 570px;
}

ol.users_list {
  list-style: decimal;
}

.indent {
  margin-left: 30px;
}

.short_field {
  width: 100px !important;
}

.middle_field {
  width: 100px !important;
}

.link {
  list-style-type: disc;
  font-size: 14px;
  margin: 5px;
  margin-left: 20px;
}

.header_link {
  font-size: 22px;
  font-weight: bold;
}

ul#badges_list {
  max-height: 350px;
  overflow-y:auto;
  width: 275px;
}
ul#coupons_list {
  max-height: 500px;
  overflow: auto;
  margin-top: 20px;
}

a.users {
  color: blue;
}

#name_display h2, #user_name{
  display:inline-block;
}

#name_display{
}

#user_name{
  font-weight: normal;
  //padding-left: 75px;
  //padding-right: 10px;
}
.config_form_title{
  font-weight:bold;
}

.collapse_name{
  padding-left:25px;
  color:darkblue;
}

/*Merge question_mark_div entries*/
.question_mark_div label, .question_mark_div span{
    display:inline;

 }
.question_mark_div span{
  color:darkblue;
}

.question_mark{
  color:blue;
  font-size:16px;
}

form{
  #carrier{
    width:90px;
    margin-left:10px;
  }

  #password_reset{
    font-weight:bold;
    margin-left:0px;
    color:darkblue;
    font-size:16px;
  }

  #pre_paid_radio{
    margin-left:10px;
  }

  #post_paid_radio{
    margin-left:5px;
  }

}
