<div class="container" id="assignments-page">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default assignments">
                <h2>Últimos recorridos</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Manzana</th>
                            <th>Visitas</th>
                            <th>Última visita</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>15960</td>
                            <td>4</td>
                            <td>2019-01-10</td>
                        </tr>
                        <tr>
                            <td>15960</td>
                            <td>4</td>
                            <td>2019-01-10</td>
                        </tr>
                        <tr>
                            <td>15960</td>
                            <td>4</td>
                            <td>2019-01-10</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default assignments">
                <h2>Manzanas menos recorridas</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Manzana</th>
                            <th>Visitas</th>
                            <th>Última visita</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>15960</td>
                            <td>4</td>
                            <td>2019-01-10</td>
                        </tr>
                        <tr>
                            <td>15960</td>
                            <td>4</td>
                            <td>2019-01-10</td>
                        </tr>
                        <tr>
                            <td>15960</td>
                            <td>4</td>
                            <td>2019-01-10</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default assignments">
                <h2>Recorridos para hoy</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Manzana</th>
                            <th>Visitas</th>
                            <th>Última visita</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>15960</td>
                            <td>4</td>
                            <td>2019-01-10</td>
                        </tr>
                        <tr>
                            <td>15960</td>
                            <td>4</td>
                            <td>2019-01-10</td>
                        </tr>
                        <tr>
                            <td>15960</td>
                            <td>4</td>
                            <td>2019-01-10</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-7 col-md-12">
            <div class="panel panel-default">
                here be map
            </div>
        </div>
        <div class="col-lg-5 col-md-12">
            <div class="panel panel-default">
                here be ui
            </div>
        </div>
    </div>
</div>