.row
  .col-md-10.col-md-offset-1
    .row#prize_name_and_photo
      .row#prize_info
        .col-md-12{style: "margin-left:40px;margin-top:10px;"}
          #prize_cost
            .row#prize_cost{:style => "padding:10px;"}
              %h2 Medalhas
              %p{ :style => "font-size:18px;margin-top:10px;"}
                Medalha digital premiada automaticamente assim que você alcançar os pontos necessários para cada.
              %p{:style => "font-size:18px;"}
                Você não precisa utilizar seus pontos!
      .row
        .col-md-12{style: "text-align:center;"}
          - @badges.each do |badge|
            = image_tag("badges/#{badge}.png", width: 150, height: 150)
