.row{:style => "margin-top: 50px;"}
  .col-md-12.col-md-offset-1
    %h1{:style => "font-size: 32px;"}
      = I18n.t("views.prizes.index.header_non_logged_in")


    %p{:style => "font-size: 18px; line-height: 24px; margin-top: 30px;"}
      = I18n.t("views.prizes.index.badge_explanation")

    %div{style: "margin-top:20px; margin-top: 40px;"}
      = render :partial => "prizes/badges"

    %h1{:style => "margin-top: 50px; margin-bottom: 40px;"}
      = link_to I18n.t("views.prizes.index.how_to_win_prizes"), faq_path
