.row#map-action-bar
  .span5
    #map-error-description
      = I18n.t("map.location_not_found")
  .span2
    %input{type: "button", value: I18n.t("map.go_to_community", :name => "Maré"), id: "go_to_mare", :class => "btn btn-warning", :style => "float: right;"}


.row
  #loading
    = image_tag "loading.gif"
    %p
      = I18n.t("map.loading")
  #map
