/ This partial is passed in a 'report' variable.
:javascript
  $(document).ready(function()
  {
    var newYear = new Date(#{report.expire_date.strftime("%s").to_i * 1000});
    $(".countdown").countdown({until: newYear, format: 'HMS', compact: 'true'});
  });

.report.open
  = render :partial => "reports/metadata", :locals => {:report => report}

  .row{style: "margin-top:7px;"}
    = render :partial => "reports/attributes", :locals => {:report => report}

  .row{:style => "margin-top: 20px;"}
    = render :partial => "reports/topbar", :locals => {:report => report}
