.report.eliminated
  = render :partial => "reports/metadata", :locals => {:report => report}

  .row{style: "margin-top: 7px; margin-bottom: 20px;"}
    = render :partial => "reports/attributes", :locals => {:report => report}

  .row{:style => "margin-top: 20px;"}
    = render :partial => "reports/topbar", :locals => {:report => report}
