.row
  .col-md-8.col-md-offset-2
    #reports
      - @reports.each do |report|
        .report{ :class => (report.eliminated? ? "eliminated" : "open") }
          = render :partial => "reports/topbar",   :locals => {:report => report}
          = render :partial => "reports/content", :locals => {:report => report}
          = render :partial => "reports/actionbar",   :locals => {:report => report}


%hr

.row
  .col-md-12{:style => "text-align: center;"}
    - if @report_count > @report_limit
      = render :partial => "reports/pagination"
