.report.open
  .row.address_row
    .span6.address
      %h4= report.report

  .row{style: "margin-top:7px;"}
    = render :partial => "reports/attributes", :locals => {:report => report}

  = render :partial => "reports/topbar", :locals => {:report => report}
