.span9
  .row.action-bar
    .span4
      - if @current_user
        - is_liked = report.likes.map(&:user_id).include?(@current_user.id)
        = link_to like_neighborhood_report_path(@neighborhood, report), :class => "likes_button", "data-path" => like_neighborhood_report_path(@neighborhood, report), "data-likes_count" => report.likes.count do
          %i.fa.fa-thumbs-up.like-icon{:style => "color: #{is_liked ? '#3498db' : '#bdc3c7'}"}
            %span.likes_text
              = report.likes.count
