/------------------------------------------------------------------------------

= render :partial => "shared/flashes"
= render :partial => "shared/form_errors", :locals => {:item => @report}

/------------------------------------------------------------------------------

.row
  .col-md-12
    %h1{:style => "font-size: 36px; margin-bottom: 30px; text-align: center;"}
      = I18n.t("common_terms.complete_report")

.row
  .col-md-6.col-md-offset-3.well
    = render :partial => "reports/form"
