/------------------------------------------------------------------------------

= render :partial => "shared/flashes"
= render :partial => "shared/form_errors", :locals => {:item => @report}

/------------------------------------------------------------------------------

.row
  .col-md-10.col-md-offset-1
    %h1{:style => "font-size: 36px; margin-bottom: 30px;"}
      = I18n.t("common_terms.complete_report")

.row
  .col-md-8.col-md-offset-2.well
    = render :partial => "reports/form"
