/------------------------------------------------------------------------------

= render :partial => "shared/flashes"
= render :partial => "shared/form_errors", :locals => {:item => @report}

/------------------------------------------------------------------------------

- if @report.completed_at.blank?
  - title = I18n.t("views.reports.edit.prepare")
- else
  - title = I18n.t("views.reports.edit.eliminate")

= render :partial => "shared/title_banner", :locals => default_navigation_hash.merge(:title => title, :parent_navigation_path => neighborhood_reports_path(@neighborhood), :parent_navigation_title => @neighborhood.name)

.row
  .col-md-6.col-md-offset-3.well
    = render :partial => "reports/form"
