.offset1
	%h1 Adminstrar DT Torpedos #{@user.display_name} #{@user.phone_number} (#{@user.carrier})
	%br
	%table{cellpadding: 15, border: 1, style: "text-align:center;"}
		%colgroup
			%col
			%col
			%col
			%col
		%tr
			%th Nº
			%th Data de envio
			%th Créditos
			%th Data do crédito
		= render partial: "torpedo", collection: @reports

