.offset1
	%h1 Administrar tipos de focos e métodos de eliminação
	%br

	%table.span14{border: 1, cellpadding: 5}
		%colgroup
			%col{width: "80%"}
			%col{width: "10%"}
			%col{width: "10%"}
		%tr
			%th Tipo de focos
			%th
			%th
		- @types.each do |type|
			%tr
				%td= type.name
				%td Editar
				%td Deletar


	%table.span14{border: 1, cellpadding: 5, style: "margin-top: 50px;"}
		%colgroup
			%col{width: "80%"}
			%col{width: "10%"}
			%col{width: "10%"}
		%tr
			%th Método de eliminação
			%th
			%th
		- @methods.each do |method|
			%tr
				%td= method.method
				%td Editar
				%td Deletar

