#home_nav_bar
  .row{style: "height:inherit;"}
    %ul
      = link_to image_tag("home_images/logo.png", :id => "logo", :style=> "z-index:3;"), root_path
      %li.main_nav_button.span3.offset4{style: 'margin-left: 240px;'}
        =link_to education_path do
          %h1{style: 'color:black;'} SAIBA MAIS
          %h3 Sobre a dengue
      %li.main_nav_button.span2.offset1{style: 'margin-left: -10px;'}
        =link_to howto_path do
          %h1{style: 'color:black;'} JOGUE
          %h3{style: "margin-left:-5px;"} &nbsp;&nbsp;Como?
      %li.main_nav_button.span2.offset1{style: 'margin-left: -10px;'}
        =link_to prizes_path do
          %h1{style: 'color:black;'} GANHE
          %h3 Prêmios
        /%h1= link_to "GANHE", prizes_path
        /%h3 Prêmios
      %li.span3
        = render "layouts/login"
